.TemplateCard {
  flex: 1;
  background: rgba(var(--bluish-steel-raw), 0.16);
  border-radius: 12px;
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
  cursor: pointer;
}

.TemplateCard:hover {
  background: rgba(var(--bluish-steel-raw), 0.24);
}

.TemplateCard .wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.TemplateCard .project-data {
  left: 125px;
  user-select: none;
  position: absolute;
}

.TemplateCard .title {
  margin-bottom: 14px;
  font-size: 20px;
}

.TemplateCard .description {
  font-size: 17px;
  color: #676370;
}

.TemplateCard .grid-container {
  width: 78px;
}
