.TemplateCard .project-data {
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

.TemplateCard .title {
  margin-bottom: 8px;
  user-select: none;
}

.TemplateCard .description {
  font-size: 15px;
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.TemplateCard .SquaresGrid {
  margin-bottom: 24px;
}
