.SelectNames, .SelectNames .menu.visible {
  width: 100%;
}

.SelectNames .ui.dropdown {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-bottom: 1px solid var(--divider);
  color: var(--secondary-text);
}

.SelectNames .ui.sub.header {
  text-transform: none;
}

.SelectNames .ui.dropdown .text {
  flex: 1 0 auto;
  text-transform: lowercase;
  color: var(--text);
}

.SelectNames .ui.dropdown .dropdown.icon {
  color: var(--text);
}

@media (max-width: 768px) {
  .SelectNames {
    margin-bottom: 24px;
    width: 100%;
  }

  .SelectNames .ui.sub.header.name {
    font-weight: normal;
  }
}
