.CenterPanel {
  position: relative;
  flex: 1 1 auto;
  background-color: #4c4852;
  display: flex;
  flex-direction: column;
}

.CenterPanel .WearablePreview {
  background: none;
}

.CenterPanel .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.CenterPanel .footer .options {
  margin-bottom: 16px;
}

.CenterPanel .footer .option {
  background-color: var(--light-gray);
  padding: 4px 12px 6px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 16px;
  cursor: pointer;
}

.CenterPanel .footer .option.active {
  background-color: #ff2d55;
}

.CenterPanel .footer .ui.dropdown > .dropdown.icon {
  color: var(--text);
}

.CenterPanel .footer .ui.dropdown > .text {
  color: var(--text);
  font-size: 11px;
  line-height: 16px;
}

.CenterPanel .footer .ui.dropdown > .menu > .header {
  color: var(--light-gray);
  font-size: 15px;
  line-height: 24px;
  padding: 10px 16px !important;
  margin: 0;
  font-weight: normal;
  min-width: 210px;
}

.CenterPanel .footer .avatar-attributes {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: margin-bottom 0.2s ease-in-out;
  background-color: var(--dark-two);
  padding: 16px 16px 4px;
  margin-bottom: -204px;
  border-top: 1px solid rgba(115, 110, 125, 0.3);
}

.CenterPanel .footer .avatar-attributes .dropdown-container {
  flex: 0 50%;
}

.CenterPanel .footer .avatar-attributes .ui.dropdown {
  width: 95%;
}

.CenterPanel .footer .avatar-attributes.active {
  margin-bottom: 0;
}

.CenterPanel .footer .ui.dropdown .menu {
  background-color: var(--smart-grey);
}

.CenterPanel .emote-controls-container {
  position: relative;
  bottom: 53px;
  margin: 0 16px;
}

.CenterPanel .emote-controls {
  padding: 4px;
  background: #242129;
  position: relative;
}

.CenterPanel .EmoteControls {
  padding: 0;
}

.CenterPanel .EmoteControls .frame-control {
  margin: 4px;
  margin-left: 0;
}

.CenterPanel .EmoteControls .ui.button.play-control {
  width: 65px;
  height: 51px;
}

.CenterPanel .EmoteControls .ui.button.play-control:hover {
  transform: none;
}
