.ui.modal.CreateItemModal > .content {
  margin-bottom: 32px;
}

.CreateItemModal .details {
  background-color: rgba(var(--dark-raw), 0.48);
  border-radius: 8px;
  width: 100%;
}

.CreateItemModal .preview {
  padding: 24px;
}

.CreateItemModal .preview .thumbnail-container {
  position: relative;
}

.CreateItemModal .preview .thumbnail-container .thumbnail {
  width: 100%;
  background-color: var(--modal);
  border-radius: 8px;
}

.CreateItemModal .preview .thumbnail-container .Icon.camera {
  position: absolute;
  bottom: 16px;
  right: 12px;
}

.CreateItemModal .preview .thumbnail-container input[type='file'] {
  display: none;
}

.CreateItemModal .preview .metrics {
  margin-top: 24px;
}

.CreateItemModal .preview .metric {
  color: var(--secondary-text);
  font-size: 13px;
  line-height: 18px;
  padding-left: 20px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.CreateItemModal .preview .metric.triangles {
  background-image: url(../../../images/triangles.svg);
}

.CreateItemModal .preview .metric.materials {
  background-image: url(../../../images/materials.svg);
}

.CreateItemModal .preview .metric.textures {
  background-image: url(../../../images/textures.svg);
}

.CreateItemModal .actions {
  margin-top: 24px;
  width: 100%;
}

.CreateItemModal .dcl.row.details {
  align-items: flex-start;
}

.CreateItemModal .data {
  padding-top: 24px;
}

.CreateItemModal .data .ui.header.sub {
  text-transform: none;
}

.CreateItemModal .option {
  font-size: 13px;
  line-height: 18px;
  border-radius: 5px;
  border: 1px solid var(--divider);
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--secondary-text);
  text-transform: capitalize;
}

.CreateItemModal .option.has-icon {
  padding-left: 32px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 8px;
}

.CreateItemModal .option + .option {
  margin-left: 16px;
}

.CreateItemModal .option:hover {
  border-color: white;
  color: white;
  cursor: pointer;
}

.CreateItemModal .option.active {
  border-color: var(--primary);
  color: white;
  background-color: var(--primary);
}

.CreateItemModal .option.has-icon.unisex {
  background-image: url(../../../images/unisex.svg);
}

.CreateItemModal .option.has-icon.male {
  background-image: url(../../../images/male.svg);
}

.CreateItemModal .option.has-icon.female {
  background-image: url(../../../images/female.svg);
  background-size: 12px;
  background-position-x: 12px;
}

.CreateItemModal .error {
  margin-top: 10px;
  width: 100%;
}

.CreateItemModal .error p {
  color: var(--primary);
}
