.handCategoryModal :global(.dcl.modal-navigation-title) {
  font-size: 26px;
  font-weight: 600;
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 25px;
  padding-bottom: 40px;
}

.img {
  width: 350px;
}

.description {
  font-size: 14px;
  line-height: 25px;
}

.actionButton {
  width: 100%;
  max-width: 380px;
}
