.PromoBanner {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 32px;
}

.PromoBanner .bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/pirate-banner.png);
  background-position-x: center;
  background-position-y: -200px;
  background-size: cover;
  opacity: 0.4;
}

.PromoBanner .logo {
  position: absolute;
  top: 29px;
  left: 40px;
  width: 93px;
  height: 94px;
  background-image: url(../../../images/skull.png);
  background-position: center;
  background-size: cover;
}

.PromoBanner .title {
  position: absolute;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.3px;
  top: 28px;
  left: 180px;
  color: var(--text);
}

.PromoBanner .subtitle {
  position: absolute;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  top: 70px;
  left: 180px;
  color: var(--text);
  width: calc(100% - 454px);
}

.PromoBanner .cta {
  position: absolute;
  top: 54px;
  right: 54px;
}
