.PromoBanner {
  color: var(--promo-banner-text);
  background-color: var(--promo-banner-bg);
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 32px;
}

.PromoBanner .title {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  letter-spacing: 0.3px;
  top: 24px;
  left: 28px;
}

.PromoBanner .subtitle {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: -0.2px;
  top: 60px;
  left: 28px;
  width: calc(100% - 454px);
}

.PromoBanner .body {
  position: absolute;
  top: 90px;
  left: 28px;
  font-size: 14px;
  width: calc(100% - 454px);
}

.PromoBanner .promo-image {
  position: absolute;
  right: 24px;
  background: url('../../../images/avatars-promo-1.png') no-repeat;
  width: 250px;
  height: 150px;
  background-size: contain;
}
