.toolbar > .LocalStorageToast {
  position: relative;
  background: var(--dark);
  padding: 7px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--dark);
  font-size: 13px;
  line-height: 18px;
}

.LocalStorageToast .close {
  position: relative;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  top: -2px;
}
