.HomePageAd {
  padding-top: 32px;
}

.HomePage > .ui.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomePage > .ui.container > .title {
  margin-top: 132px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 34px;
}

.HomePage > .ui.container > .ui.cards > .ui.card {
  margin: 0 16px 0 0;
  width: 254px;
}

.HomePage > .ui.container > .ui.cards > .ui.card:nth-child(4n) {
  margin-right: 0;
}

.HomePage .ui.cards .ui.card > .content {
  padding: 0px;
}

.HomePage .ui.cards .ui.card > .content.extra {
  padding: 0px 24px 32px;
}

.HomePage .ui.cards .ui.card > .content > .header {
  flex: 0;
  margin-top: 32px;
  margin-bottom: 8px;
  height: 30px;
  font-size: 21px;
  line-height: 30px;
}

.HomePage .ui.cards .ui.card > .content > .description > .card-description {
  margin: 0px 24px 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: var(--light-gray);
}

.HomePage .ui.cards .ui.card > .content > .description > .card-image {
  height: 96px;
  width: 96px;
  margin: 40px 79px;
}

.HomePage .ui.cards .ui.card > .content > .description > .card-image.collections {
  background: url('../../images/home-page-collections.svg');
}

.HomePage .ui.cards .ui.card > .content > .description > .card-image.scenes {
  background: url('../../images/home-page-scenes.svg');
}

.HomePage .ui.cards .ui.card > .content > .description > .card-image.land {
  background: url('../../images/home-page-land.svg');
}

.HomePage .ui.cards .ui.card > .content > .description > .card-image.names {
  background: url('../../images/home-page-names.svg');
}

.HomePage .ui.cards .ui.card > .content.extra > button {
  padding: 13px 0;
  margin-bottom: 21px;
}
