.HomePage {
  font-size: 17px;
  margin-bottom: 96px;
}

.HomePage .dev-warning {
  padding: 12px 16px;
  text-align: center;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: var(--primary);
}

.HomePage .dev-warning a {
  color: white;
  text-decoration: underline;
}

.HomePage .subtitle {
  color: var(--purplish-grey);
}

.HomePage .project-cards {
  margin-top: 47px;
}
.HomePage .project-cards .subtitle {
  font-size: 13px;
}

.HomePage .empty-projects {
  padding: 47px 0;
  margin-top: var(--homepage-card-margin);
  background-color: rgba(var(--purplish-grey-raw), 0.16);
  border-radius: 12px;
  color: var(--purplish-grey);
  text-align: center;
}
.HomePage .empty-projects > div {
  margin-bottom: 10px;
}

.HomePage .CardList {
  overflow: hidden;
}

.HomePage .Card {
  width: var(--homepage-card-width);
  height: var(--homepage-card-height);
  border-radius: 12px;
  margin-top: var(--homepage-card-margin);
  margin-right: var(--homepage-card-margin);
  background-color: rgba(var(--purplish-grey-raw), 0.16);
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomePage .Card:last-child {
  margin-right: 0;
}

/* Banner */

.HomePage .banner {
  position: relative;
  border: 1px solid rgba(var(--purplish-grey-raw), 0.4);
  border-radius: 12px;
  padding: 32px;
  padding-top: 24px;
  margin-top: 48px;
}

.HomePage .banner .highlight {
  font-weight: 600;
  color: var(--contest-pink);
}

.HomePage .banner .ui.header.banner-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.HomePage .banner .banner-text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.HomePage .banner .banner-cta {
  position: absolute;
  right: 56px;
  top: calc(50% - 22px);
  background-color: #a524b3;
}

.HomePage .banner .banner-cta:hover,
.HomePage .banner .banner-cta:active,
.HomePage .banner .banner-cta:focus {
  background-color: #c640cd;
}
