.HomePage {
  font-size: 17px;
}

.HomePage .subtitle {
  color: white;
  display: flex;
  justify-content: space-between;
}

.HomePage .subtitle .import-scene {
  display: flex;
}

.HomePage .subtitle .import-scene .Icon {
  margin-right: 12px;
}

.HomePage .template-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.HomePage .template-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.HomePage .template-row .TemplateCard:last-child {
  margin-left: 24px;
}

.HomePage .project-cards {
  margin-top: 47px;
  position: relative;
}

.HomePage .empty-projects {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  border: 1px solid var(--bluish-steel);
  align-items: center;
  justify-content: center;
  color: var(--bluish-steel);
  user-select: none;
  text-align: center;
  line-height: 28px;
}

.HomePage .template-cards {
  margin-top: 80px;
}

.HomePage .template-cards.animate .TemplateCard {
  animation: templateAnimation 2s;
}

.HomePage .project-cards .subtitle,
.HomePage .template-cards .subtitle {
  font-size: 20px;
}

.HomePage .CardList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.project-card:nth-child(4n) {
  margin-right: 0;
}

.HomePage .TemplateCard,
.HomePage .ProjectCard {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.HomePage .TemplateCard:hover,
.HomePage .ProjectCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  transform: translateY(-4px);
}

.HomePage .project-cards .subtitle > .menu {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  z-index: 1000;
}

.HomePage .project-cards .subtitle > .menu .ui.dropdown {
  margin-right: 32px;
}

.HomePage .project-cards.has-pagination .CardList {
  min-height: 606px;
}

.HomePage .project-cards .ui.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.HomePage .project-cards .ui.pagination {
  margin-top: 40px;
}

.HomePage .project-cards .ui.pagination .item[type='nextItem'],
.HomePage .project-cards .ui.pagination .item[type='prevItem'] {
  position: absolute;
  background-color: var(--secondary);
}

.HomePage .project-cards .ui.pagination .item[type='prevItem'] {
  left: 0px;
}

.HomePage .project-cards .ui.pagination .item[type='nextItem'] {
  right: 0px;
}

@keyframes templateAnimation {
  0% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  25% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  50% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  75% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  100% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
}
