.HomePage {
  font-size: 17px;
}

.HomePage .subtitle {
  color: white;
  display: flex;
  justify-content: space-between;
}

.HomePage .subtitle .import-scene {
  display: flex;
}

.HomePage .subtitle .import-scene .Icon {
  margin-right: 12px;
}

.HomePage .template-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.HomePage .template-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.HomePage .template-row .TemplateCard:last-child {
  margin-left: 24px;
}

.HomePage .project-cards {
  margin-top: 47px;
}

.HomePage .template-cards {
  margin-top: 80px;
}

.HomePage .template-cards.animate .TemplateCard {
  animation: templateAnimation 2s;
}

.HomePage .project-cards .subtitle,
.HomePage .template-cards .subtitle {
  font-size: 20px;
}

.HomePage .empty-projects {
  padding: 47px 0;
  margin-top: var(--homepage-card-margin);
  background-color: rgba(var(--bluish-steel-raw), 0.16);
  border-radius: 12px;
  color: var(--bluish-steel);
  text-align: center;
}
.HomePage .empty-projects > div {
  margin-bottom: 10px;
}

.HomePage .CardList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.project-card:nth-child(4n) {
  margin-right: 0;
}

.HomePage .TemplateCard,
.HomePage .ProjectCard {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.HomePage .TemplateCard:hover,
.HomePage .ProjectCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  transform: translateY(-4px);
}

.home-page-banner {
  height: 80px;
  padding: 0px;
}

.pirate-banner {
  height: 100px;
  width: 100%;
  background: url(../../images/pirate-banner.png);
}

@keyframes templateAnimation {
  0% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  25% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  50% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  75% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  100% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
}
