.Icon.arrow-down {
	background: url("icons.svg") 24.242424242424242% 16.39344262295082% no-repeat;
	width: 10px;
	height: 6px;
}

.Icon.arrow-up {
	background: url("icons.svg") 93.93939393939394% 60.65573770491803% no-repeat;
	width: 10px;
	height: 6px;
}

.Icon.delete {
	background: url("icons.svg") 71.875% 30.76923076923077% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.delete-active {
	background: url("icons.svg") 42.1875% 80.76923076923077% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.delete-icon {
	background: url("icons.svg") 23.4375% 80.76923076923077% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.duplicate {
	background: url("icons.svg") 51.61290322580645% 0 no-repeat;
	width: 14px;
	height: 16px;
}

.Icon.duplicate-active {
	background: url("icons.svg") 51.61290322580645% 31.372549019607842% no-repeat;
	width: 14px;
	height: 16px;
}

.Icon.grid {
	background: url("icons.svg") 0 100% no-repeat;
	width: 10px;
	height: 10px;
}

.Icon.grid-active {
	background: url("icons.svg") 93.93939393939394% 75.43859649122807% no-repeat;
	width: 10px;
	height: 10px;
}

.Icon.list {
	background: url("icons.svg") 74.19354838709677% 53.44827586206897% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.list-active {
	background: url("icons.svg") 51.61290322580645% 55.172413793103445% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.list-icon {
	background: url("icons.svg") 100% 24.137931034482758% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.move {
	background: url("icons.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
}

.Icon.move-active {
	background: url("icons.svg") 76.66666666666667% 0 no-repeat;
	width: 16px;
	height: 16px;
}

.Icon.preview {
	background: url("icons.svg") 26.666666666666668% 56.14035087719298% no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.preview-active {
	background: url("icons.svg") 0 56.14035087719298% no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.rotate {
	background: url("icons.svg") 24.59016393442623% 31.372549019607842% no-repeat;
	width: 15px;
	height: 16px;
}

.Icon.rotate-active {
	background: url("icons.svg") 0 31.372549019607842% no-repeat;
	width: 15px;
	height: 16px;
}

.Icon.shortcuts {
	background: url("icons.svg") 26.666666666666668% 0 no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.sidebar {
	background: url("icons.svg") 100% 0 no-repeat;
	width: 14px;
	height: 14px;
}

.Icon.sidebar-active {
	background: url("icons.svg") 100% 43.39622641509434% no-repeat;
	width: 14px;
	height: 14px;
}

.Icon.zoom-in {
	background: url("icons.svg") 0 80.76923076923077% no-repeat;
	width: 15px;
	height: 15px;
}

.Icon.zoom-out {
	background: url("icons.svg") 63.9344262295082% 80.76923076923077% no-repeat;
	width: 15px;
	height: 15px;
}

