.Icon.alert {
	background: url("icons.svg") 100% 0 no-repeat;
	width: 14px;
	height: 14px;
}

.Icon.arrow-down {
	background: url("icons.svg") 48.484848484848484% 24.615384615384617% no-repeat;
	width: 10px;
	height: 6px;
}

.Icon.arrow-up {
	background: url("icons.svg") 36.36363636363637% 87.6923076923077% no-repeat;
	width: 10px;
	height: 6px;
}

.Icon.delete {
	background: url("icons.svg") 37.5% 75% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.delete-active {
	background: url("icons.svg") 18.75% 75% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.delete-icon {
	background: url("icons.svg") 0 75% no-repeat;
	width: 12px;
	height: 15px;
}

.Icon.duplicate {
	background: url("icons.svg") 0 47.27272727272727% no-repeat;
	width: 14px;
	height: 16px;
}

.Icon.duplicate-active {
	background: url("icons.svg") 22.580645161290324% 47.27272727272727% no-repeat;
	width: 14px;
	height: 16px;
}

.Icon.grid {
	background: url("icons.svg") 21.21212121212121% 93.44262295081967% no-repeat;
	width: 10px;
	height: 10px;
}

.Icon.grid-active {
	background: url("icons.svg") 77.27272727272727% 68.85245901639344% no-repeat;
	width: 10px;
	height: 10px;
}

.Icon.info {
	background: url("icons.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
}

.Icon.list {
	background: url("icons.svg") 100% 22.580645161290324% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.list-active {
	background: url("icons.svg") 100% 74.19354838709677% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.list-icon {
	background: url("icons.svg") 100% 59.67741935483871% no-repeat;
	width: 14px;
	height: 9px;
}

.Icon.move {
	background: url("icons.svg") 76.66666666666667% 18.181818181818183% no-repeat;
	width: 16px;
	height: 16px;
}

.Icon.move-active {
	background: url("icons.svg") 46.666666666666664% 47.27272727272727% no-repeat;
	width: 16px;
	height: 16px;
}

.Icon.preview {
	background: url("icons.svg") 26.666666666666668% 26.229508196721312% no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.preview-active {
	background: url("icons.svg") 0 26.229508196721312% no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.rotate {
	background: url("icons.svg") 50.81967213114754% 0 no-repeat;
	width: 15px;
	height: 16px;
}

.Icon.rotate-active {
	background: url("icons.svg") 26.229508196721312% 0 no-repeat;
	width: 15px;
	height: 16px;
}

.Icon.shortcuts {
	background: url("icons.svg") 76.66666666666667% 0 no-repeat;
	width: 16px;
	height: 10px;
}

.Icon.sidebar {
	background: url("icons.svg") 0 100% no-repeat;
	width: 14px;
	height: 14px;
}

.Icon.sidebar-active {
	background: url("icons.svg") 100% 40.35087719298246% no-repeat;
	width: 14px;
	height: 14px;
}

.Icon.zoom-in {
	background: url("icons.svg") 75.40983606557377% 46.42857142857143% no-repeat;
	width: 15px;
	height: 15px;
}

.Icon.zoom-out {
	background: url("icons.svg") 59.01639344262295% 75% no-repeat;
	width: 15px;
	height: 15px;
}

