.modalContent {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
}

.collectionSelection {
  position: relative;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px;
  background-color: #2e2c33;
  border-radius: 8px;
}

.collectionSelection .disabled {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-color: black;
}

.collectionSelection img {
  width: 227px;
  height: 110px;
}

.collectionSelection .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.collectionSelection .content .text {
  text-align: center;
  margin-top: 32px;
}

.collectionSelection .content .text p {
  color: #cfcdd4;
}

.collectionSelection .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 24px;
}

.collectionSelection .actions a {
  font-size: 14px;
  text-transform: uppercase;
  z-index: 2;
}
