.ScenesPageAd {
  padding-top: 32px;
}

.ScenesPage .ui.button.inverted,
.ScenesPage .ui.button.inverted:hover {
  background-color: #ffffff;
  color: var(--shadows);
}

.ScenesPage .project-cards {
  position: relative;
}

.ScenesPage .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ScenesPage .empty-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--divider);
  align-items: center;
  justify-content: center;
  color: var(--text);
  background-color: var(--dark-two);
  user-select: none;
  text-align: center;
  line-height: 28px;
  padding-top: 105px;
  padding-bottom: 122px;
}

.ScenesPage .empty-projects .empty-project-thumbnail {
  width: 86px;
  height: 86px;
  background: url(../../images/scene.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.ScenesPage .empty-projects .description {
  margin-bottom: 40px;
}

.ScenesPage .empty-projects .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.ScenesPage .template-cards {
  margin-top: 80px;
}

.ScenesPage .template-cards.animate .TemplateCard {
  animation: templateAnimation 2s;
}

.ScenesPage .project-cards .subtitle,
.ScenesPage .template-cards .subtitle {
  font-size: 20px;
}

.ScenesPage .CardList .ProjectCard,
.ScenesPage .CardList .ProjectCard .project-thumbnail {
  max-width: unset;
}

.ScenesPage .CardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--scenespage-card-margin);
}

.ScenesPage .ProjectCard {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}

.ScenesPage .ProjectCard:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  transform: translateY(-4px);
}
.ScenesPage .dcl.tabs,
.ScenesPage .dcl.tabs .ui.container {
  position: relative;
}

.ScenesPage .projects-menu .items-count,
.ScenesPage .scene-pool-menu .ui.header.sub {
  flex: 1 0 auto;
  color: var(--secondary-text);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.ScenesPage .projects-menu .actions {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ScenesPage .projects-menu .actions .ui.button {
  font-size: 14px;
  font-weight: 600;
}

.ScenesPage .projects-menu .actions .ui.button + .ui.button {
  margin-left: 16px;
}

.ScenesPage .projects-menu .actions .ui.button.create-scene {
  display: flex;
  align-items: center;
}

.ScenesPage .projects-menu .actions .ui.dropdown.active.visible {
  z-index: 99999;
}

.ScenesPage .projects-menu .actions .ui.dropdown + .ui.button {
  margin-left: 24px;
}

.ScenesPage .project-cards.has-pagination .CardList {
  min-height: 606px;
}

.ScenesPage .project-cards .ui.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ScenesPage .project-cards .ui.pagination {
  margin-top: 40px;
}

.ScenesPage .project-cards .ui.pagination .item[type='nextItem'],
.ScenesPage .project-cards .ui.pagination .item[type='prevItem'] {
  position: absolute;
  background-color: var(--secondary);
}

.ScenesPage .project-cards .ui.pagination .item[type='prevItem'] {
  left: 0px;
}

.ScenesPage .project-cards .ui.pagination .item[type='nextItem'] {
  right: 0px;
}

.ScenesPage .SyncToast {
  top: 77px;
}

.ScenesPage .scene-pool-projects {
  display: flex;
  overflow: auto;
  padding-top: 20px;
  gap: var(--scenespage-card-margin);
}

.ScenesPage .scene-pool-projects .ProjectCard {
  flex: none;
}

.ScenesPage .ui.button.import-scene,
.ScenesPage .ui.button.create-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 18px;
}

.ScenesPage .import-scene::before,
.ScenesPage .create-scene::before {
  content: '';
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.ScenesPage .import-scene::before {
  background-image: url('../../images/upload_scene.svg');
}

.ScenesPage .create-scene::before {
  background-image: url('../../images/create_scene.svg');
}

.ScenesPage .no-scenes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  background: #242129;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.ScenesPage .no-scenes-title {
  font-size: 24px;
}

.ScenesPage .no-scenes-description {
  color: white;
  width: 100%;
  max-width: 620px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.ScenesPage .no-scenes-description a {
  color: white;
  text-decoration: underline;
}

@keyframes templateAnimation {
  0% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  25% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  50% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
  75% {
    background: rgba(var(--bluish-steel-raw), 0.3);
  }
  100% {
    background: rgba(var(--bluish-steel-raw), 0.16);
  }
}
