.Items {
  padding: 0px 16px;
}

.Items .item {
  display: flex;
  align-items: center;
  background: rgba(var(--bluish-steel-raw), 0.2);
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.Items .item {
  margin-top: 8px;
  padding: 8px;
}

.Items .item .ItemImage {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 8px;
  flex: none;
}

.Items .item .name {
  margin-left: 8px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  flex: 1 0 auto;
}

.Items .item .toggle {
  flex: none;
  width: 20px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}

.Items .item:hover .toggle {
  background-image: url(../../../../images/eye-toggle-item.svg);
}

.Items .item .toggle.visible {
  background-image: url(../../../../images/eye-toggle-item-active.svg);
}

.Items .item .toggle.visible:hover {
  background-image: url(../../../../images/eye-toggle-item.svg);
}

.Items .item:not(.is-selected):hover {
  background: rgba(var(--bluish-steel-raw), 0.4);
}

.Items .item.is-selected {
  border: 1px solid rgba(var(--bluish-steel-raw), 0.7);
  cursor: default;
}

.ui.popup.invalid-representation-popup {
  height: auto;
}
