.ItemDetailPage .Notice {
  margin-bottom: 32px;
}

.ItemDetailPage .item-data {
  display: flex;
}

.ItemDetailPage .sections {
  margin-left: 48px;
}

.ItemDetailPage .item-data .image-wrapper {
  width: 256px;
}

.ItemDetailPage .item-data .subtitle {
  color: var(--secondary-text);
  font-size: 13px;
  text-transform: uppercase;
}

.ItemDetailPage .item-data .value {
  margin-top: 5px;
  font-size: 21px;
  text-transform: capitalize;
}
