.CollectionCard .item-rows .item-row,
.CollectionCard .item-rows .item-row .image-wrapper {
  display: flex;
  align-items: center;
}

.CollectionCard .item-rows .item-row.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: var(--secondary-text);
  border: 1px solid var(--divider);
  border-radius: 5px;
  text-transform: uppercase;
}

.CollectionCard .item-rows .item {
  max-height: 100%;
}

.CollectionCard .item-rows .item-row .image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.CollectionCard .item-row .image {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.CollectionCard .content {
  margin-top: 16px;
  text-align: center;
}

.CollectionCard .content .text {
  font-size: 17px;
}

.CollectionCard .sparkles {
  width: 54px;
  height: 56px;
  margin-bottom: 5px;
  background-image: url('../../images/sparkles.svg');
  background-repeat: no-repeat;
}
