.CollectionCard .content {
  margin-top: 16px;
  text-align: center;
}

.CollectionCard .content .text {
  font-size: 17px;
}

.CollectionCard .sparkles {
  width: 54px;
  height: 56px;
  margin-bottom: 5px;
  background-image: url('../../images/sparkles.svg');
  background-repeat: no-repeat;
}

.CollectionCard.is-over {
  border: 1px solid var(--primary) !important;
}

.CollectionCard > .ui.card > .CollectionImage {
  height: 248px;
  overflow: hidden;
  border-radius: 8px !important;
}
