.ui.small.modal.EditProjectModal {
  width: 560px;
}

.EditProjectModal.ui.modal > .content {
  font-size: 17px;
  padding: 1.8em;
}

.EditProjectModal .title {
  font-size: var(--modal-title-font-size);
}

.EditProjectModal .details {
  margin-top: 40px;
}

.EditProjectModal .ui.sub.header.custom-label {
  margin-top: 0px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
