.AvatarFace {
  border-radius: 100%;
  background-color: #f3f2f5;
  width: 42px;
  height: 42px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.AvatarFace.responsive {
  width: 93px;
  height: 93px;
}

@media (min-width: 1200px) {
  .AvatarFace.responsive {
    width: 170px;
    height: 170px;
  }
}

.AvatarFace.large {
  width: 110px;
  height: 110px;
}

.AvatarFace.medium {
  width: 46px;
  height: 46px;
}

.AvatarFace img {
  width: 100%;
}

.AvatarFace .guest-face {
  width: 100%;
  height: 100%;
  background: url(/static/media/guest.8a451ce3.svg);
  background-position: center;
  background-size: contain;
}
