.ENSListPage .filters {
  margin-bottom: 16px;
}

.ENSListPage .TableRow {
  cursor: default;
}

.ENSListPage .empty-names {
  border: 1px solid var(--divider) !important;
  border-radius: 12px !important;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text);
  user-select: none;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
}

.ENSListPage .Icon.right-round-arrow {
  margin-bottom: -2px;
}

.ENSListPage .TableRow .dcl.column.subdomain-wrapper {
  display: flex;
  flex: none;
  flex-direction: row;
}

.ENSListPage .subdomain-wrapper .Icon.profile {
  margin-left: 10px;
}

.ENSListPage > div:not(.ens-page-content) .ui.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ENSListPage > div:not(.ens-page-content) .ui.pagination .item[type='nextItem'],
.ENSListPage > div:not(.ens-page-content) .ui.pagination .item[type='prevItem'] {
  position: absolute;
  background-color: var(--secondary);
}

.ENSListPage > div:not(.ens-page-content) .ui.pagination .item[type='prevItem'] {
  left: 0px;
}

.ENSListPage > div:not(.ens-page-content) .ui.pagination .item[type='nextItem'] {
  right: 0px;
}

.ENSListPage > div:not(.ens-page-content) .pagination-section {
  width: 100%;
}
.ENSListPage > div:not(.ens-page-content) .ui.sub.header.items-count {
  flex: 1 0 auto;
  color: var(--secondary-text);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.ENSListPage .actions {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.ENSListPage .actions .ui.button.basic {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  padding: 5px 10px;
  border-radius: 4px;
  border: solid 1px var(--gray);
}

.ENSListPage .claim-name .Icon {
  display: block;
}

.ENSListPage .ui.dropdown {
  margin-right: 20px;
}

.ENSListPage .ens-list-btn.ui.button {
  display: flex;
  gap: 5px;
  color: #716b7c;
  align-items: center;
  padding: 0;
  text-transform: none;
}

.ENSListPage .ens-list-btn.ui.button:hover {
  color: white;
  background: none;
}

.ENSListPage .ens-list-btn .Icon {
  filter: invert(45%) sepia(13%) saturate(399%) hue-rotate(220deg) brightness(90%) contrast(90%);
}

.ENSListPage .ens-list-btn:hover .Icon {
  filter: none;
}

.ENSListPage .ens-list-btn .Icon.pin {
  width: 15px;
  height: 15px;
}

.ENSListPage .ens-list-avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #716b7c;
  background: #393640;
  width: fit-content;
  padding: 5px;
  border-radius: 16px;
  font-weight: bold;
  padding-right: 10px;
}

.ENSListPage .ens-list-land {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ENSListPage .ens-list-land-coord {
  display: flex;
  height: 34px;
  align-items: center;
  padding: 0 10px;
  background: #393640;
  border-radius: 6px;
}

.ENSListPage .ens-list-land-redirect-icon {
  filter: grayscale(1) brightness(5);
}

.ENSListPage .ens-list-land-redirect {
  width: fit-content;
  min-width: unset;
  height: 34px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  background: #393640;
}

.ENSListPage .ens-list-address {
  display: flex;
  gap: 5px;
  align-items: center;
  background: #393640;
  width: fit-content;
  padding: 5px;
  border-radius: 16px;
}

.ENSListPage .ens-list-address-icon {
  width: 25px;
}

.ENSListPage .ens-page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ENSListPage .ens-page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ENSListPage .ens-list-subdomain {
  font-weight: bold;
  color: var(--secondary-text);
}

.ENSListPage .ens-list-subdomain span {
  color: white;
}

.ENSListPage .ens-list-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ENSListPage .ens-page-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ENSListPage .ens-page-actions .ui.dropdown {
  margin-left: 15px;
}

.ENSListPage .ens-list-edit-btn.ui.button,
.ENSListPage .ens-list-transfer-btn.ui.button {
  min-width: unset;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

.ENSListPage .ens-list-transfer-btn.ui.button {
  background: #393640;
}

.ENSListPage .ens-list-edit-btn.ui.button {
  background: white;
  color: black;
}

.ENSListPage .ens-list-name-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.ENSListPage .ens-list-avatar-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #43404a;
}

.ENSListPage .ens-list-avatar-name {
  color: white;
  font-weight: bold;
}

.ENSListPage .ens-list-actions {
  display: flex;
  gap: 10px;
}

.ENSListPage .dui-table-container {
  margin-top: 0;
}

.ENSListPage .dui-table-content .ui.table tr td,
.ENSListPage .dui-table-content .ui.table th {
  border-right: none;
  border-left: none;
}

.ENSListPage .ens-list-add-icon {
  width: 15px;
  height: 15px;
}

.ENSListPage .ens-list-btn:hover .ens-list-add-icon {
  filter: brightness(5);
}

.ENSListPage .ens-page-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ENSListPage .ens-list-page-table-headers {
  color: #a09ba8;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  gap: 5px;
}

.ens-list-page-ext-link {
  color: white;
  text-decoration: underline;
}

.ENSListPage .ens-list-subdomain {
  font-weight: bold;
  color: var(--secondary-text);
}

.ENSListPage .ens-list-subdomain span {
  color: white;
}

.ENSListPage .ens-list-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ENSListPage .ens-page-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ENSListPage .ens-page-actions .ui.dropdown {
  margin-left: 15px;
}

.ENSListPage .ens-list-edit-btn.ui.button {
  min-width: unset;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

.ENSListPage .ens-list-name-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.ENSListPage .ens-list-avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #43404a;
}

.ENSListPage .ens-list-avatar-name {
  color: white;
  font-weight: bold;
}

.ENSListPage .ens-list-actions {
  display: flex;
  gap: 10px;
}

.ENSListPage .ens-list-page-empty {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  gap: 32px;
}

.ENSListPage .ens-list-page-empty-title {
  margin: 0;
}

.ENSListPage .ens-list-page-empty-subtitle {
  color: var(--secondary-text);
  text-align: center;
  max-width: 480px;
  font-size: 14px;
}

.ENSListPage .ens-list-page-empty-actions {
  display: flex;
  gap: 20px;
}

.ENSListPage .ens-list-page-empty-image {
  padding: 30px;
  border-radius: 50%;
  background: var(--secondary);
}
