.ENSListPage .TableRow .dcl.column.subdomain-wrapper {
  display: flex;
  flex: none;
  flex-direction: row;
}

.ENSListPage .subdomain-wrapper .Icon.profile {
  margin-left: 10px;
}

.ENSListPage .ui.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ENSListPage .ui.pagination .item[type='nextItem'],
.ENSListPage .ui.pagination .item[type='prevItem'] {
  position: absolute;
  background-color: var(--secondary);
}

.ENSListPage .ui.pagination .item[type='prevItem'] {
  left: 0px;
}

.ENSListPage .ui.pagination .item[type='nextItem'] {
  right: 0px;
}

.ENSListPage .pagination-section {
  width: 100%;
}

.ENSListPage .claim-name {
  padding: 5px 10px !important;
  margin: 1px !important;
  border: 1px solid rgba(115, 110, 125, 0.4) !important;
  margin-left: 30px !important;
  border-radius: 4px !important;
}

.ENSListPage .claim-name .Icon {
  display: block;
}

.ui.popup.inverted.alias-popup {
  height: auto;
}
