.AssetImporter .single-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.AssetImporter .multiple-projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  align-items: flex-start;
  padding: 24px;
}

.AssetImporter .multiple-projects .AssetThumbnail:not(:nth-child(6n)) {
  margin-bottom: 32px;
  margin-right: 24px;
}

.AssetImporter .multiple-projects .AssetThumbnail span {
  font-size: 15px;
}
