.AvatarPage .ui.cards {
  margin-top: 20px;
}

.AvatarPage .ui.cards > .ui.card {
  width: 248px;
  background-color: transparent;
  box-shadow: none;
}

.AvatarPage .card .image-wrapper {
  height: 248px;
  padding: 15px;
  border-radius: 5px;
}
