.Profile .dcl.avatar-face.inline {
  vertical-align: -4px;
  margin-right: 6px;
}

.Profile .dcl.blockie {
  margin-right: 6px;
}

.Profile .dcl.logo {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: -4px;
}

.Profile.large .dcl.avatar-face,
.Profile.large .dcl.logo {
  width: 32px;
  height: 32px;
  vertical-align: -8px;
  margin-right: 10px;
}

.Profile.large .dcl.blockie {
  vertical-align: -6px;
  margin-right: 12px;
}

.Profile.large .name {
  font-size: 20px;
  line-height: 28px;
}
