.modal,
.modal:global(.ui.small.modal) {
  display: flex;
  flex-direction: column;
  width: 750px;
  padding: 0;
  margin: 0;
}

.description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.video {
  display: block;
  height: 250px;
  object-fit: cover;
}

:global(.ui.modal > .content).content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 50px 0 0;
  padding: 0 80px;
  background: transparent;
}

.header {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.modal:global(.ui.modal) .actions:global(.actions) {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 105px;
  background-color: transparent;
}

:global(.ui.modal) > .actions > :global(a.ui.button) {
  margin: 0;
}
