.world-permissions .modal-navigation-title {
  width: 100%;
  text-align: center;
}

.world-permissions .world-permissions__tabs > .ui.container {
  display: flex;
  justify-content: center;
}

.world-permissions .tab-content__add-user-wrapper {
  margin-top: 16px;
}

.world-permissions .tab-content__add-user-button-container button {
  width: 100%;
}

.world-permissions .tab-content__add-user-form-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #1b1a1f;
  padding: 24px;
  width: 100%;
}

.world-permissions .tab-content__add-user-form-container .dcl.field.full.address {
  flex: 1;
  margin-right: 16px;
}

.world-permissions .tab-content__add-user-form-container .dcl.field.full:not(.error) p.message {
  display: none;
}

.world-permissions .tab-content__add-user-form-container button:nth-child(2) {
  margin-right: 16px;
}

.world-permissions .tab-content__add-user-form-container button {
  width: 155px;
  height: 52px;
}
