.ui.modal.world-permissions .dcl.modal-navigation-title {
  font-weight: 600;
  color: var(--text);
}

.ui.modal.world-permissions .dcl.modal-navigation-title span {
  color: var(--navbar-item-text-enabled);
  font-size: 18px;
  font-weight: 400;
}

.ui.modal.world-permissions > .content {
  margin-top: 0;
}

.world-permissions .modal-navigation-title {
  width: 100%;
  text-align: center;
}

.world-permissions .world-permissions__tabs > .ui.container {
  display: flex;
  justify-content: center;
}

.world-permissions .world-permissions__tabs > .ui.container > .dcl.tab {
  text-transform: uppercase;
}

.world-permissions .tab-content__add-user-wrapper {
  margin-top: 16px;
}

.world-permissions .tab-content__add-user-button-container button {
  width: 100%;
}

.world-permissions .tab-content__add-user-form-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #1b1a1f;
  padding: 24px;
  width: 100%;
}

.world-permissions .tab-content__add-user-form-container .dcl.field.full.address {
  flex: 1;
  margin-right: 16px;
}

.world-permissions .tab-content__add-user-form-container .dcl.field.full:not(.error) p.message {
  display: none;
}

.world-permissions .tab-content__add-user-form-container button:nth-child(2) {
  margin-right: 16px;
}

.world-permissions .tab-content__add-user-form-container button {
  width: 155px;
  height: 52px;
}

.world-permissions__empty-list {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  background-color: #161518;
  color: #716b7c;
  justify-content: center;
}
