.ImportStep .FileImport .dropzone .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.ImportStep .error.container {
  display: flex;
  padding: 15px 36px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--void);
  color: var(--sunish);
  align-items: center;
  text-align: justify;
}

.ImportStep .error.container .icon {
  margin-top: -5px;
  margin-right: 10px;
}

.ImportStep .error.message {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  white-space: break-spaces;
}

.ImportStep .error.container + .FileImport > .dropzone {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ImportStep #wearable-preview {
  display: none;
}
