.ui.modal.ApprovalFlowModal {
}

.ui.modal.ApprovalFlowModal .content.loading {
  height: 100px;
}

.ui.modal.ApprovalFlowModal .content.rescue .item {
  display: flex;
  align-items: center;
}

.ui.modal.ApprovalFlowModal .content.rescue .item .name {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.ui.modal.ApprovalFlowModal .content.rescue .item .name .ItemImage {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.ui.modal.ApprovalFlowModal .hash {
  color: var(--secondary-text);
}

.ui.modal.ApprovalFlowModal .content.error {
  font-family: monospace;
  color: var(--text);
  background-color: var(--secondary-on-modal-hover);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
}
