.ProjectCard {
  position: relative;
  width: 100%;
  max-width: var(--scenespage-card-width);
  height: var(--scenespage-card-height);
  border-radius: 10px;
  background: rgba(var(--bluish-steel-raw), 0.16);
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ProjectCard .project-thumbnail {
  height: 170px;
  width: 100%;
  max-width: 256px;
  background-size: 100% 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ProjectCard .deployment-status {
  align-self: flex-end;
  margin-right: 8px;
  margin-bottom: 8px;
  position: absolute;
  right: 0px;
  bottom: 70px;
}

.ProjectCard .project-data {
  height: 70px;
  width: 100%;
  padding: 12px 9px 14px;
  background-color: #313131;
  align-self: flex-end;
  color: var(--text);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ProjectCard .title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  width: 240px;
  text-overflow: ellipsis;
}

.ProjectCard .description {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.ProjectCard .description .Icon {
  margin-right: 5px;
}

.ProjectCard .description .Icon.scene-object {
  margin-left: 11px;
}

.ProjectCard .overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: var(--background);
  opacity: 0.3;
}

.ProjectCard:hover {
  z-index: 999;
}

.ProjectCard .options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  visibility: hidden;
  padding: 8px;
}

.ProjectCard:hover .options-container {
  visibility: visible;
}

.ProjectCard .options-dropdown .icon:before {
  color: var(--text) !important;
}

.ProjectCard.has-thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
}

.ProjectCard .title-wrapper {
  display: flex;
}

.ProjectCard .Icon.is-uploading {
  margin-left: 4px;
  margin-top: 2px;
}

.ProjectCard .error-indicator {
  width: 16px;
  height: 16px;
  background: url(../../images/save-error.svg);
  background-repeat: no-repeat;
  background-position: center -2px;
  margin-top: 3px;
  margin-left: 7px;
}
