.ProjectCard {
  position: relative;
  width: var(--homepage-card-width);
  height: var(--homepage-card-height);
  border-radius: 12px;
  margin-top: var(--homepage-card-margin);
  margin-right: var(--homepage-card-margin);
  background: rgba(var(--bluish-steel-raw), 0.16);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProjectCard .deployment-status {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 10px;
  height: 10px;
}

.ProjectCard .project-data {
  width: 100%;
  margin: 90px 20px 0px 20px;
  color: var(--text);
  z-index: 1;
}

.ProjectCard .title {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 500;
}

.ProjectCard .description {
  font-size: 17px;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.ProjectCard .overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: var(--background);
  opacity: 0.24;
}

.ProjectCard .ui.dropdown {
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

.ProjectCard:hover {
  z-index: 999999;
}

.ProjectCard:hover .ui.dropdown {
  display: inline-block;
}
.ProjectCard .ui.dropdown .icon:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 4px;
}

.ProjectCard .ui.dropdown > .dropdown.icon {
  padding: 0 3px;
  line-height: 2px;
  font-size: 24px;
  height: 0.7em;
}

.ProjectCard .ui.dropdown > .dropdown.icon:before {
  content: '…';
  color: var(--text);
}

.ProjectCard.has-thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
}
