.ProjectCard {
  position: relative;
}

.ProjectCard .project-data {
  width: 100%;
  padding: 0 10px;
  margin-top: 70px;
  text-align: center;
  color: var(--text);
  z-index: 1;
}

.ProjectCard .title {
  margin-bottom: 8px;
}

.ProjectCard .description {
  font-size: 15px;
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.ProjectCard .overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: var(--background);
  opacity: 0.24;
}

.ProjectCard .ui.dropdown {
  position: absolute;
  top: 5px;
  right: 18px;
}

.ProjectCard .ui.dropdown > .dropdown.icon:before {
  content: '...';
  font-size: 24px;
  color: var(--text);
}

.ProjectCard.has-thumbnail {
  position: relative;
  background-size: cover;
  background-position: center;
}

.ProjectCard .contest-badge {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  top: 8px;
  left: 8px;
  position: absolute;
  background-image: url('../../images/contest-button.png');
  background-size: 100%;
}

.ProjectCard .contest-badge .icon {
  top: 1px;
  left: 5px;
  position: relative;
  font-size: 12px;
  color: var(--text);
}
