.MultiSelect.ui.dropdown.inline {
  border: 1px solid rgba(115, 110, 125, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px 12px 2px;
  margin-bottom: 8px;
}

.MultiSelect.ui.dropdown.inline.blank {
  padding: 10px 12px;
}

.MultiSelect.ui.dropdown.inline .label {
  margin-bottom: 6px;
  margin-right: 20px;
  color: var(--secondary-text);
}

.MultiSelect.ui.dropdown.inline .values {
  flex: 1 auto;
  text-align: right;
}

.MultiSelect.ui.dropdown.inline .values .placeholder {
  color: var(--secondary-text);
  text-align: right;
}

.MultiSelect.ui.dropdown.inline .values .value {
  background-color: var(--smart-grey);
  padding: 2px 8px;
  margin-bottom: 6px;
  margin-right: 10px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

.MultiSelect.ui.dropdown.inline .values .value .remove {
  width: 12px;
  height: 12px;
  background-image: url(../../../../icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 8px;
  margin-left: 4px;
  cursor: pointer;
}

.MultiSelect.ui.dropdown.inline .handle {
  width: 8px;
  height: 8px;
  background-image: url(../../../../images/select-active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 6px;
  margin-left: 7px;
}

.MultiSelect.ui.dropdown.inline.blank .handle {
  background-image: url(../../../../images/select-inactive.svg);
}

.MultiSelect.ui.dropdown.inline.blank .label,
.MultiSelect.ui.dropdown.inline.blank .handle {
  margin-bottom: 0;
}
