.GroundPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.GroundPicker .ground-grid {
  width: 100%;
}

.GroundPicker .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
