.Collections {
  padding: 0px 16px;
}

.Collections .collection {
  display: flex;
  align-items: center;
  background: rgba(var(--bluish-steel-raw), 0.2);
  height: 72px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.Collections .collection {
  margin-top: 8px;
  padding: 8px;
}

.Collections .collection .CollectionImage {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 8px;
}

.Collections .collection .wrapper {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.Collections .collection .name {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.Collections .collection .count {
  font-size: 15px;
  line-height: 24px;
  color: var(--secondary-text);
}

.Collections .collection:hover {
  background: rgba(var(--bluish-steel-raw), 0.4);
}

.Collections .collection.is-selected {
  border: 1px solid rgba(var(--bluish-steel-raw), 0.7);
}
