.CategoryCard {
  display: flex;
  width: calc(var(--sidebar-width) - 32px);
  height: 80px;
  align-items: center;
  padding: 0px 16px;
  border-radius: 8px;
  background: rgba(var(--bluish-steel-raw), 0.4);
  cursor: pointer;
  margin-bottom: 8px;
}

.CategoryCard:last-child {
  margin-bottom: 0;
}

.CategoryCard:hover {
  background: rgba(var(--bluish-steel-raw), 0.72);
}

.CategoryCard .thumbnail {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 8px;
}

.CategoryCard .ui.header.small.title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--sidebar-heading);
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

.CategoryCard .Icon {
  margin-left: auto;
}
