.ui.grid.TopBar {
  height: var(--topbar-height);
  background: var(--dark);
}

.ui.grid.TopBar > .column:not(.row) {
  padding: 12px;
}

.TopBar .ui.header.medium {
  font-size: 17px;
}

.TopBar .row {
  display: flex;
}

.TopBar .middle-column .row {
  justify-content: center;
}

.TopBar .right-column .row {
  justify-content: flex-end;
}

.TopBar .middle-column .editor-modes {
  display: flex;
  margin-right: 32px;
}

.TopBar .right-column .add-to-contest {
  background: var(--contest-primary);
  margin-left: 32px;
}

.TopBar .right-column .ui.button.mini {
  font-size: 11px;
}

.TopBar .Chip + .Chip {
  margin-left: 8px;
}
