.ui.grid.TopBar {
  height: var(--topbar-height);
  background: var(--dark);
}

.ui.grid.TopBar > .column:not(.row) {
  padding: 12px;
}

.TopBar .ui.header.medium {
  font-size: 17px;
}

.TopBar .row {
  display: flex;
}

.TopBar .middle-column .row {
  justify-content: center;
}

.TopBar .right-column .row {
  justify-content: flex-end;
}

.TopBar .middle-column .editor-actions {
  display: flex;
}

.TopBar .middle-column .editor-modes {
  display: flex;
  margin-right: 32px;
}

.TopBar .tool + .tool {
  margin-left: 8px;
}

.TopBar .project-title-container {
  display: flex;
  align-items: center;
}

.TopBar .ground {
  margin-right: 10px;
}

.TopBar .project-title {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.TopBar .edit-project-icon {
  margin-left: 12px;
}

.TopBar .project-title:hover .edit-project-icon {
  opacity: 1;
  filter: none;
}

.TopBar .edit-project-icon:not(:hover) {
  margin-left: 12px;
  filter: saturate(0.1);
  opacity: 0.32;
}

.TopBar .contest-button-wrapper {
  margin-left: 32px;
}

.ui.popup.bottom.top-bar-popup {
  margin-top: 20px;
}

.ui.popup.inverted.contest-disabled {
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 20px;
}

.ui.popup.inverted.contest-disabled:first-line {
  color: white;
}

.ui.visible.popup.inverted.contest-disabled:before {
  right: 60px; /* The arrow needs to be in the middle of the button - kinda */
}
