.EmptyRole {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #16141a;
}

.EmptyRole.ui.form .dcl.field {
  flex: 1 1 auto;
  margin: 0;
}

.EmptyRole .dcl.field .ui.input.rounded > input {
  border: none;
}

.EmptyRole .ui.button.basic.action,
.EmptyRole .action {
  font-size: 13px;
  margin-left: 16px;
}
