.CollectionManagersModal .collaborators {
  background-color: var(--dark-gray);
  border-radius: 8px;
  padding: 20px 25px;
}

.CollectionManagersModal .empty-collaborators-list {
  padding: 40px;
  text-align: center;
}

.CollectionManagersModal .empty-collaborators-list .link {
  text-transform: none;
}

.CollectionManagersModal .add-collaborators {
  margin-top: 24px;
  margin-left: 10px;
  font-size: 13px;
}

.CollectionManagersModal .link {
  text-transform: uppercase;
}

.CollectionManagersModal .actions {
  margin-top: 150px;
  width: 100%;
  text-align: right;
}

.Manager {
  display: flex;
  padding: 10px;
  align-items: center;
}

.Manager:hover {
  background-color: rgba(22, 20, 26, 0.5);
}

.Manager .info {
  flex: 1 1 auto;
}

.Manager .action {
  display: none;
  font-size: 13px;
}

.Manager:hover .action {
  display: block;
}

.EmptyManager {
  display: flex;
  align-items: center;
  padding: 10px;
}

.EmptyManager {
  display: flex;
  padding: 10px;
  background-color: #16141a;
}

.EmptyManager .dcl.field {
  flex: 1 1 auto;
}

.EmptyManager .dcl.field .ui.input.rounded > input {
  border: none;
}

.EmptyManager .action {
  font-size: 13px;
  margin-left: 16px;
}
