.ui.small.modal.CreateAssetPackModal {
  width: 730px;
}

.CreateAssetPackModal .progress-bar-container {
  width: 100%;
  background: var(--secondary-on-modal);
  border-radius: 16px;
}

.CreateAssetPackModal .progress-bar {
  background: var(--primary);
  height: 16px;
  border-radius: 16px;
  position: relative;
}

.CreateAssetPackModal .progress-bar.active:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 16px;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

.CreateAssetPackModal.ui.small.modal.narrow {
  width: 540px;
}

.CreateAssetPackModal .exit-actions {
  flex-direction: column;
}

.CreateAssetPackModal.ui.modal .actions.exit-actions .ui.button + .ui.button {
  margin-left: 0px;
  margin-top: 16px;
}
