.EventBanner {
  width: 100%;
  padding: 25px 50px;
  display: flex;
  background-image: url('./pride-banner.png');
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.EventBanner::before {
  background-color: rgba(0, 0, 0, 0.25);
}

.EventBanner .event-banner-text {
  display: flex;
  flex-direction: column;
  color: white;
  align-self: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  gap: 10px;
  justify-content: center;
}

.EventBanner .event-banner-logo-container {
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: unset;
}

.EventBanner .event-banner-logo {
  width: 320px;
}

.EventBanner .title {
  font-size: 34px;
  line-height: 26px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.EventBanner .subtitle {
  text-align: justify;
  overflow-wrap: break-word;
  font-size: 19px;
  font-weight: 700;
  word-spacing: -1px;
}

.EventBanner .event-banner-hat {
  width: 256px;
}

.EventBanner .event-banner-pink {
  color: #fd98ff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
