.EventBanner {
  width: 100%;
  padding: 40px;
  display: flex;
  background-image: url('./banner.gif');
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  min-height: 200px;
  margin-bottom: 20px;
}

.EventBanner .event-banner-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  gap: 10px;
  max-width: 700px;
}

.EventBanner .event-banner-logo {
  width: 450px;
}

.EventBanner .title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

.EventBanner .subtitle {
  overflow-wrap: break-word;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .EventBanner {
    grid-template-columns: 300px 1fr 300px;
    gap: 20px;
  }
}
