.EventBanner {
  width: 100%;
  height: 105px;
  margin: 24px 0;
  padding: 0 32px;
  display: flex;
  background-image: url('./holiday-season-banner.png');
  border-radius: 10px;
  background-size: cover;
}

.EventBanner .event-banner-text {
  display: flex;
  flex-direction: column;
  color: black;
  align-self: center;
  margin-right: 24px;
  flex-grow: 1;
  max-width: 500px;
}

.EventBanner .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.EventBanner .subtitle {
  text-align: justify;
  overflow-wrap: break-word;
}

.EventBanner .event-banner-cta {
  align-self: center;
}
