.CollectionItem .ui.grid {
  padding: 8px 0;
  color: var(--text);
  border-bottom: 1px solid var(--divider);
}

.CollectionItem .ui.grid:hover {
  background-color: rgba(36, 33, 41, 0.4);
  color: var(--text);
}

.CollectionItem .ui.grid > .row {
  align-items: center;
  font-size: 15px;
}

.CollectionItem .ui.grid > .row > .column.avatar-column {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.CollectionItem .ItemImage.image-wrapper {
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  padding: 5px;
  margin-right: 24px;
}

.CollectionItem .info {
  width: 100%;
}

.CollectionItem .name-wrapper {
  display: flex;
  align-items: center;
}

.CollectionItem .name-wrapper .ItemBadge {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  margin-left: 12px;
}

.CollectionItem .name {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
}

.CollectionItem .link,
.CollectionItem a {
  text-transform: uppercase;
}

.CollectionItem .subtitle {
  margin-top: 2px;
  color: var(--secondary-text);
  text-transform: uppercase;
}

.CollectionItem .item-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.CollectionItem .ui.grid .item-actions .action {
  display: none;
}

.CollectionItem .ui.grid:hover .item-actions .action {
  display: inherit;
  margin-left: 5px;
}

.CollectionItem .item-actions .ui.dropdown.action i {
  margin: 0 !important;
}

.CollectionItem .done {
  text-align: right;
  color: rgb(var(--light-blue-raw));
}

.CollectionItem .done .check {
  margin-left: 2px;
}
