.AssetPackEditor .assetpack {
  display: flex;
}

.AssetPackEditor .assetpack .dcl.field {
  width: 100%;
}

.AssetPackEditor .assetpack .thumbnail {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid var(--divider);
  margin-right: 24px;
  flex: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AssetPackEditor .assetpack .thumbnail .Icon {
  position: relative;
}

.AssetPackEditor .assetpack .thumbnail img + .Icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: scale(0.8);
}

.AssetPackEditor .assetpack .thumbnail img {
  width: 100%;
  height: 100%;
}

.AssetPackEditor .assetpack .thumbnail input {
  display: none;
}

.AssetPackEditor .assets .header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 16px 0px;
}

.AssetPackEditor .assets .content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  align-items: flex-start;
}

.AssetPackEditor .assets .content .AssetThumbnail:not(:nth-child(6n)) {
  margin-bottom: 32px;
  margin-right: 24px;
}

.AssetPackEditor .assets .content .AssetThumbnail {
  margin-right: 24px;
}
