.zipInfo {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 32px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.infoIcon {
  margin-right: 9px;
}

.dropzone {
  height: 500px !important;
  padding: 0 65px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.dropzone :global(.cta .image) {
  background: url('/src/images/upload-video.svg') no-repeat;
}

.dropzone :global(.cta .action) {
  display: inline-block;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:global(.ui.modal > .actions).actions {
  width: auto;
}
