.ContestModal.ui.small.modal {
  position: relative;
  max-width: 560px;
}

.ContestModal.ui.modal > .content {
  font-size: 17px;
}

.ContestModal.ui.modal > .header {
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContestModal.ui.modal > .header .header-image {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../../../images/market-tiles.png');
  background-position: 50%;
  opacity: 0.5;
}

.ContestModal .ui.header.hero {
  width: 50%;
  z-index: 99;
  font-weight: 500;
  text-align: center;
}

.ContestModal .ui.form .email-container .ui.input {
  width: 69%;
}
.ContestModal .ui.form .email-container .ui.input input {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}
.ContestModal .ui.checkbox input.hidden + label {
  margin-right: 0;
}

.ContestModal .ui.form .ui.button.primary {
  padding: 0.8em 3.8em;
  margin-left: 15px;
  margin-right: 0;
}

.ContestModal .modal-row {
  margin-bottom: 32px;
}

.ContestModal .modal-row .explanation {
  font-weight: 300;
}
