.ContestModal.ui.small.modal {
  position: relative;
  max-width: 560px;
}

.ContestModal.ui.modal > .content {
  font-size: 17px;
}

.ContestModal.ui.modal > .header {
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  text-align: center;
  background: url('../../../images/contest.png') no-repeat;
  background-size: 105%;
}

.ContestModal.ui.modal > .header .highlight {
  font-weight: 600;
  color: #ff80ff;
}

.ContestModal .ui.header.hero {
  z-index: 99;
  font-weight: 500;
  user-select: none;
}

.ContestModal .header .subtitle {
  font-size: 20px;
  width: 83%;
}

.ContestModal .ui.checkbox input.hidden + label {
  margin-right: 0;
}

.ContestModal .modal-row {
  margin-bottom: 32px;
}

.ContestModal .modal-row .explanation {
  font-weight: 300;
}
