.dcl.hero.HomePageHero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  user-select: none;
}

.dcl.hero.HomePageHero .hero-subtitle {
  padding-right: 400px;
}

.dcl.hero.HomePageHero .hero-actions {
  margin-top: 36px;
}

.dcl.hero.HomePageHero .hero-actions button.primary {
  border: 1px solid var(--primary);
}

.dcl.hero.HomePageHero .hero-actions button {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.1s ease-in-out;
}

.dcl.hero.HomePageHero .hero-actions button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
}

.HomePageHero .hero-content {
  background-color: black;
  height: 100%;
}

.HomePageHero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.HomePageHero .hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.HomePageHero video {
  background-position-y: -230px;
  background-position-x: 100px;
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HomePageHero .background {
  background-image: url('../../images/hero.jpg');
  opacity: 0.4;
  width: 100%;
  height: 472px;

  background-position-y: -230px;
  background-position-x: 100px;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePageHero .description .highlight {
  font-weight: 500;
}

.HomePageHero .ui.button.hollow {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.48);
}

.homepagehero .ui.button.hollow:hover {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
}

@media (max-width: 1280px) {
  .dcl.hero.HomePageHero .hero-subtitle {
    padding-right: 100px;
  }
}
