.ens-empty-state {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  gap: 32px;
}

.ens-empty-state-title {
  margin: 0;
}

.ens-empty-state-subtitle {
  color: var(--secondary-text);
  text-align: center;
  max-width: 480px;
  font-size: 14px;
}

.ens-empty-state-actions {
  display: flex;
  gap: 20px;
}

.ens-empty-state-image {
  padding: 30px;
  border-radius: 50%;
  background: var(--secondary);
}
