.ui.modal.confirm {
  padding: 10px 0;
}

.ui.modal.confirm .actions {
  display: flex;
  flex-direction: row-reverse;
}

.ui.modal.confirm .actions > .ui.button {
  flex: 1;
}

.ui.modal.confirm .actions > .ui.button:first-child {
  margin-left: 10px;
}
.ui.modal.confirm .actions > .ui.button:last-child {
  margin: 0px;
}
