.DeployToLand {
  margin: 64px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
}

.DeployToLand .ui.button.connect {
  margin-top: 24px;
}

.DeployToLand .error {
  visibility: hidden;
  user-select: none;
  color: var(--primary);
  margin-top: 20px;
}

.DeployToLand .error.visible {
  visibility: visible;
}

.DeployToLand.progress {
  width: 480px;
  margin: 48px;
}

.DeployToLand.progress .progress-bar-container {
  margin-top: 32px;
}

.DeployToLand.confirmation {
  width: 560px;
  margin: 48px;
}

.DeployToLand.confirmation .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 24px 64px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.DeployToLand.confirmation .details img {
  border: 2px solid white;
  border-radius: 5px;
  width: 213px;
  height: 120px;
}

.DeployToLand.confirmation .details .details-row {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.DeployToLand.confirmation .details .detail {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.DeployToLand.confirmation .details .detail .label {
  text-transform: uppercase;
  color: #736e7d;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

.DeployToLand.confirmation .details .detail .value {
  color: white;
  font-weight: 400;
  font-size: 17px;
}
