.modal:global(.ui.modal) {
  width: 560px;
}

.content {
  text-align: center;
}

.modal :global(.dcl.modal-navigation-title) {
  padding: 0 40px;
}

.description {
  font-size: 16px;
  line-height: 26px;
  color: var(--text);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.actions button {
  width: 100%;
  max-width: 400px;
}

.actions button:global(.ui.button):not(:first-child) {
  margin-left: 0;
}
