.world-permissions .world-permissions__tab-access {
  position: relative;
}

.world-permissions .world-permissions__tab-access > h1 {
  font-weight: 600;
}

.world-permissions .world-permissions__tab-access > p {
  color: #cfcdd4;
  font-size: 18px;
  line-height: normal;
}

.world-permissions .access-warning-container {
  width: 100%;
  padding: 8px;
  background-color: #f8efbb;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.world-permissions .access-warning-container i.icon.exclamation.triangle {
  margin-top: -3px;
}

.world-permissions .access-warning-container i.icon.exclamation.triangle:before {
  color: #5e552d;
}

.world-permissions .access-warning-container p {
  color: #5e552d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.world-permissions .public-access-container {
  display: flex;
  justify-content: space-between;
}

.world-permissions .public-access-container > span,
.world-permissions .public-access-container .ui.toggle.checkbox input[type='checkbox'].hidden + label {
  color: #fcfcfc !important;
  line-height: normal;
  text-transform: uppercase;
}

.world-permissions .public-access-container > span {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.world-permissions .public-access-container > div > span {
  color: #fcfcfc;
  line-height: normal;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 18px;
}

.world-permissions .access-list {
  max-height: 290px;
  overflow-y: scroll;
  margin-top: 8px;
  border-radius: 10px;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.world-permissions .access-list::-webkit-scrollbar {
  display: none;
}
