.modalTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.modalSubtitle {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

:global(.PutForSaleOffchainModal.ui.modal > .content) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 40px 0;
}

.modalIcon {
  background: var(--secondary-text);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalIcon :global(i.icon) {
  margin: 0;
}

.error {
  max-width: 100%;
  overflow: hidden;
  color: var(--error);
}
