.AssetCard {
  cursor: grab;
}

.AssetCard.is-dragging {
  opacity: 0.5;
}

.AssetCard.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.AssetCard.smart {
  background: #472550;
}

.AssetCard.smart:hover {
  background: #5f326a;
}
