.PublishCollectionModal .header,
.PublishCollectionModal .content {
  text-align: center;
}
.PublishCollectionModal.ui.modal > .dcl.modal-navigation {
  padding-top: 48px;
}

.PublishCollectionModal.ui.modal > .content {
  padding: 0 60px 30px;
}

.PublishCollectionModal .divider {
  width: 50%;
  margin: 25px auto;
  height: 1px;
  border: 2px solid var(--primary);
  border-radius: 2px;
}

.PublishCollectionModal .ui.button {
  margin-top: 60px;
}
