.modalBody {
  width: 750px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modalNavigation {
  display: flex;
  justify-content: space-between;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalHeader h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

.modalHeader span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.modalBody .actionButton:global(.ui.button) {
  height: auto;
  width: fit-content;
  align-self: flex-end;
}

.modalBodyState {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBodyState .description {
  text-align: center;
}

.modalBodyStateActions {
  display: flex;
  flex-wrap: wrap;
}

.modalBodyStateActionButton {
  height: 46px !important;
  width: 100%;
  margin: 8px 32px !important;
}

.modalForm {
  display: flex;
  gap: 36px;
}

.thumbnail {
  width: 240px;
  height: 190px;
  background-size: cover;
  background-position: center;
  border: 1px solid lightgray;
}

.modalForm .worldSelect + p:last-child {
  max-width: 450px;
  color: var(--text);
  font-size: 14px;
}

.navigationButton {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modalBodyEmptyState .emptyThumbnail {
  height: 180px;
  width: 180px;
  margin-bottom: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../images/empty_names.png');
}

.modalBodySuccessState .description {
  font-size: 14px;
  margin-bottom: 28px;
}

.modalBodySuccessState .shareUrlFieldInput input {
  border: 2px solid var(--text) !important;
  padding: 9px 15px !important;
}

.modalBodySuccessState .shareUrlFieldInput i {
  opacity: 1 !important;
}

.modalBodySuccessState .shareUrlField p {
  display: none !important;
}

.modalBodySuccessState .successImage {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../images/save-world-success.svg');
}
