.Icon.add {
  background: url('icons.svg') 99.40828402366864% 52.17391304347826% no-repeat;
  width: 13px;
  height: 13px;
}

.Icon.add-active {
  background: url('icons.svg') 99.40828402366864% 60.24844720496895% no-repeat;
  width: 13px;
  height: 13px;
}

.Icon.alert {
  background: url('icons.svg') 90.47619047619048% 56.831875000000004% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.alert-pending {
  background: url('icons.svg') 50.63291139240506% 15.333333333333334% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.alert-warning {
  background: url('icons.svg') 0 46.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.arrow-down {
  background: url('icons.svg') 40.69767441860465% 19.047619047619047% no-repeat;
  width: 10px;
  height: 6px;
}

.Icon.arrow-key-down {
  background: url('icons.svg') 90.47619047619048% 65.581875% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.arrow-key-left {
  background: url('icons.svg') 90.47619047619048% 74.331875% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.arrow-key-right {
  background: url('icons.svg') 90.47619047619048% 83.081875% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.arrow-key-up {
  background: url('icons.svg') 0 93.75% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.arrow-up {
  background: url('icons.svg') 40.69767441860465% 22.61904761904762% no-repeat;
  width: 10px;
  height: 6px;
}

.Icon.atlas-zoom-in {
  background: url('icons.svg') 98.82352941176471% 75.92592592592592% no-repeat;
  width: 12px;
  height: 12px;
}

.Icon.atlas-zoom-out {
  background: url('icons.svg') 98.82352941176471% 78.48837209302326% no-repeat;
  width: 12px;
  height: 2px;
}

.Icon.camera {
  background: url('icons.svg') 0 31.57894736842105% no-repeat;
  width: 28px;
  height: 22px;
}

.Icon.cat {
  background: url('icons.svg') 50.63291139240506% 30.51948051948052% no-repeat;
  width: 24px;
  height: 20px;
}

.Icon.check {
  background: url('icons.svg') 15.189873417721518% 46.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.chevron-right {
  background: url('icons.svg') 82.183908045977% 25% no-repeat;
  width: 8px;
  height: 14px;
}

.Icon.circle {
  background: url('icons.svg') 24.137931034482758% 90.36144578313252% no-repeat;
  width: 8px;
  height: 8px;
}

.Icon.close {
  background: url('icons.svg') 8.333333333333334% 93.75% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.cloud-upload {
  background: url('icons.svg') 51.94805194805195% 0 no-repeat;
  width: 28px;
  height: 23px;
}

.Icon.cube {
  background: url('icons.svg') 79.51807228915662% 43.67088607594937% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.cylinder {
  background: url('icons.svg') 59.25925925925926% 61.03896103896104% no-repeat;
  width: 20px;
  height: 20px;
}

.Icon.delete {
  background: url('icons.svg') 89.41176470588235% 28.887421383647794% no-repeat;
  width: 12px;
  height: 15px;
}

.Icon.delete-circle {
  background: url('icons.svg') 0 0 no-repeat;
  width: 48px;
  height: 48px;
}

.Icon.dress {
  background: url('icons.svg') 17.72151898734177% 31.16883116883117% no-repeat;
  width: 24px;
  height: 20px;
}

.Icon.duplicate {
  background: url('icons.svg') 78.57142857142857% 53.79746835443038% no-repeat;
  width: 14px;
  height: 16px;
}

.Icon.edit {
  background: url('icons.svg') 79.51807228915662% 63.924050632911396% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.ellipsis {
  background: url('icons.svg') 80.48780487804878% 21.176470588235293% no-repeat;
  width: 18px;
  height: 4px;
}

.Icon.emote {
  background: url('icons.svg') 77.19298245614036% 25.477707006369428% no-repeat;
  width: 11px;
  height: 17px;
}

.Icon.export {
  background: url('icons.svg') 69.04761904761905% 59.49367088607595% no-repeat;
  width: 14px;
  height: 16px;
}

.Icon.facebook {
  background: url('icons.svg') 56.470588235294116% 46.05263157894737% no-repeat;
  width: 12px;
  height: 22px;
}

.Icon.geometries {
  background: url('icons.svg') 98.82352941176471% 68.32298136645963% no-repeat;
  width: 12px;
  height: 13px;
}

.Icon.grid {
  background: url('icons.svg') 6.976744186046512% 100% no-repeat;
  width: 10px;
  height: 10px;
}

.Icon.grid-active {
  background: url('icons.svg') 12.790697674418604% 100% no-repeat;
  width: 10px;
  height: 10px;
}

.Icon.heart {
  background: url('icons.svg') 81.48148148148148% 0 no-repeat;
  width: 20px;
  height: 18px;
}

.Icon.heart-full {
  background: url('icons.svg') 81.48148148148148% 11.538461538461538% no-repeat;
  width: 20px;
  height: 18px;
}

.Icon.import {
  background: url('icons.svg') 90.47619047619048% 18.97905345134087% no-repeat;
  width: 14px;
  height: 15.931px;
}

.Icon.landscape {
  background: url('icons.svg') 32.91139240506329% 31.16883116883117% no-repeat;
  width: 24px;
  height: 20px;
}

.Icon.list {
  background: url('icons.svg') 80.95238095238095% 81.21212121212122% no-repeat;
  width: 14px;
  height: 9px;
}

.Icon.list-active {
  background: url('icons.svg') 16.666666666666668% 90.9090909090909% no-repeat;
  width: 14px;
  height: 9px;
}

.Icon.locate-land {
  background: url('icons.svg') 100% 0 no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.minus {
  background: url('icons.svg') 30.379746835443036% 46.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.modal-back {
  background: url('icons.svg') 96.55172413793103% 8.75% no-repeat;
  width: 8px;
  height: 14px;
}

.Icon.modal-close {
  background: url('icons.svg') 100% 17.5% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.move {
  background: url('icons.svg') 0 74.68354430379746% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.move-active {
  background: url('icons.svg') 9.63855421686747% 74.68354430379746% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.parcels {
  background: url('icons.svg') 98.82352941176471% 84.5679012345679% no-repeat;
  width: 12px;
  height: 12px;
}

.Icon.pin {
  background: url('icons.svg') 45.56962025316456% 46.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.pin-active {
  background: url('icons.svg') 68.35443037974683% 0 no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.play {
  background: url('icons.svg') 68.35443037974683% 16% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.plus {
  background: url('icons.svg') 68.35443037974683% 32% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.preview {
  background: url('icons.svg') 19.27710843373494% 71.95121951219512% no-repeat;
  width: 16px;
  height: 10px;
}

.Icon.preview-active {
  background: url('icons.svg') 28.91566265060241% 71.95121951219512% no-repeat;
  width: 16px;
  height: 10px;
}

.Icon.profile {
  background: url('icons.svg') 0 62.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.reset-camera {
  background: url('icons.svg') 0 84.81012658227849% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.right-round-arrow {
  background: url('icons.svg') 9.63855421686747% 84.81012658227849% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.rotate {
  background: url('icons.svg') 19.161676646706585% 84.81012658227849% no-repeat;
  width: 15px;
  height: 16px;
}

.Icon.rotate-active {
  background: url('icons.svg') 28.143712574850298% 84.81012658227849% no-repeat;
  width: 15px;
  height: 16px;
}

.Icon.rotate-control {
  background: url('icons.svg') 32% 0 no-repeat;
  width: 32px;
  height: 32px;
}

.Icon.rotate-left {
  background: url('icons.svg') 38.55421686746988% 70.65868263473054% no-repeat;
  width: 16px;
  height: 7px;
}

.Icon.rotate-right {
  background: url('icons.svg') 48.19277108433735% 70.65868263473054% no-repeat;
  width: 16px;
  height: 7px;
}

.Icon.scale {
  background: url('icons.svg') 37.34939759036145% 84.81012658227849% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.scale-active {
  background: url('icons.svg') 46.98795180722892% 84.81012658227849% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.scene-object {
  background: url('icons.svg') 54.651162790697676% 84.81012658227849% no-repeat;
  width: 10px;
  height: 16px;
}

.Icon.scene-parcel {
  background: url('icons.svg') 62.65060240963855% 84.81012658227849% no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.share {
  background: url('icons.svg') 98.82352941176471% 26.25% no-repeat;
  width: 12px;
  height: 14px;
}

.Icon.shortcuts {
  background: url('icons.svg') 72.28915662650603% 81.70731707317073% no-repeat;
  width: 16px;
  height: 10px;
}

.Icon.sidebar {
  background: url('icons.svg') 100% 35% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.sidebar-active {
  background: url('icons.svg') 100% 43.75% no-repeat;
  width: 14px;
  height: 14px;
}

.Icon.smart {
  background: url('icons.svg') 91.56626506024097% 0 no-repeat;
  width: 16px;
  height: 16px;
}

.Icon.table {
  background: url('icons.svg') 15.189873417721518% 62.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.table-active {
  background: url('icons.svg') 30.379746835443036% 62.666666666666664% no-repeat;
  width: 24px;
  height: 24px;
}

.Icon.textures {
  background: url('icons.svg') 98.82352941176471% 91.9753086419753% no-repeat;
  width: 12px;
  height: 12px;
}

.Icon.tools {
  background: url('icons.svg') 68.35443037974683% 46.753246753246756% no-repeat;
  width: 24px;
  height: 20px;
}

.Icon.triangles {
  background: url('icons.svg') 0 100% no-repeat;
  width: 12px;
  height: 10px;
}

.Icon.twitter {
  background: url('icons.svg') 45.56962025316456% 61.03896103896104% no-repeat;
  width: 24px;
  height: 20px;
}

.Icon.undo {
  background: url('icons.svg') 91.56626506024097% 10% no-repeat;
  width: 16px;
  height: 14px;
}

.Icon.view {
  background: url('icons.svg') 30% 20% no-repeat;
  width: 22px;
  height: 14px;
}

.Icon.wearable {
  background: url('icons.svg') 80% 35.18518518518518% no-repeat;
  width: 17px;
  height: 12px;
}

.Icon.zoom-in {
  background: url('icons.svg') 91.01796407185628% 38.32138364779874% no-repeat;
  width: 15px;
  height: 15px;
}

.Icon.zoom-out {
  background: url('icons.svg') 91.01796407185628% 47.75534591194968% no-repeat;
  width: 15px;
  height: 15px;
}
