.Preview-wrapper {
  position: relative;
  height: 100%;
  flex: 1;
}

.Preview {
  flex: 1;
  height: 100%;
  background-color: var(--preview-background);
  position: relative;
}

.Preview > canvas.dcl-canvas {
  display: block;
  outline: none;
}

.Preview .ui.loader:before {
  border: none;
}

.Preview > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--preview-background);
  z-index: var(--preview-z-index);
}
