.Preview {
  flex: 1;
  height: 100%;
  background-color: var(--preview-background);
  position: relative;
}

.Preview > canvas {
  display: block;
  outline: none;
}

.Preview > .ui.loader:before {
  border: none;
}

.Preview > .overlay {
  width: 100%;
  height: 100%;
  background: var(--preview-background);
}
