.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}
.centered p {
  width: 100%;
  text-align: center;
  padding-top: 70px;
}

.message {
  padding-top: 0px;
  padding-bottom: 20px;
}

.box {
  width: 100%;
  padding: 16px;
  background-color: #242129;
  margin-bottom: 12px;
  border-radious: 8px;
}

.box.boxDisabled {
  pointer-events: none;
  opacity: 0.4;
}
.box button {
  float: right;
}

.confirmationButtons button {
  padding: 10px 20px 10px 20px;
  margin: 50px
}

.grey-button {
  background-color: #444 !important;
}
i.check.icon {
  padding-left: 10px;
}
