.EditThumbnailStep .WearablePreview,
.EditThumbnailStep #preview {
  background: #43404a;
  height: 364px;
  border-radius: 8px;
}

.EditThumbnailStep .Preview canvas {
  background: rgba(22, 20, 26, 0.48);
}

.EditThumbnailStep .zoom-controls {
  & .MuiButtonBase-root.MuiButton-root {
    & .MuiSvgIcon-root {
      fill: white;
    }
    & .MuiTouchRipple-root {
      color: white;
    }
  }
}

.EditThumbnailStep .emote-controls {
  padding: 0;
  bottom: 0;
  & .MuiButtonBase-root.MuiButton-root {
    background-color: transparent;
    margin: 0;
    & .MuiSvgIcon-root {
      fill: white;
    }
    & .MuiTouchRipple-root {
      color: white;
    }
  }
}

.EditThumbnailStep .translation-controls {
  align-items: flex-start;
}

.EditThumbnailStep .animation-controls {
  & .MuiButtonBase-root {
    background-color: #726e7c !important;
  }
}

.EditThumbnailStep .animation-controls__popper {
  & .MuiPaper-root {
    background-color: #726e7c;
    & .MuiList-root {
      & .MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
        background-color: #24212933;
      }
    }
  }
}
