.EditThumbnailStep .thumbnail-step-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.EditThumbnailStep .thumbnail-actions {
  margin-top: 24px;
}

.EditThumbnailStep .thumbnail-actions.dcl.row.grow.shrink {
  justify-content: space-between;
}

.EditThumbnailStep .WearablePreview {
  background: #43404a;
  height: 364px;
  border-radius: 8px;
}

.EditThumbnailStep .EmoteControls {
  padding: 0;
  bottom: 0;
  position: relative;
  margin: 0;
}

.EditThumbnailStep .play-controls {
  margin: 16px 0 0;
}

.EditThumbnailStep .ui.button.play-control {
  background-color: rgba(0, 0, 0, 0.64) !important;
}
