.EditThumbnailStep .zoom-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12px;
  left: 12px;
}

.EditThumbnailStep .ui.button.zoom-control {
  width: 32px;
  height: 32px;
  padding: 0;
  min-width: unset;
  background-color: rgba(0, 0, 0, 0.64) !important;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditThumbnailStep .ui.button.zoom-control i.icon {
  margin: 0 !important;
}

.ui.modal .EditThumbnailStep .ui.button.sound-control {
  background: transparent;
}

.EditThumbnailStep .ui.button.zoom-in-control {
  width: 32px;
  height: 32px;
  padding: 0;
  min-width: unset;
}

.EditThumbnailStep .ui.button.play-control {
  width: 56px;
  height: 44px;
  padding: 0;
  min-width: unset;
  margin-right: 16px;
}

.EditThumbnailStep .EmoteControls .ui.button.play-control .play.icon {
  padding-bottom: 18px;
  padding-left: 3px;
  margin: 0;
}

.EditThumbnailStep .EmoteControls .ui.button.play-control .pause.icon {
  padding-left: 0;
  padding-bottom: 16px;
  margin: 0;
}

.EditThumbnailStep .Preview canvas {
  background: rgba(22, 20, 26, 0.48);
}

.EditThumbnailStep .dcl.sliderfield p {
  display: none;
}

.EditThumbnailStep .play-controls {
  display: flex;
  margin: 16px 0;
}

.EditThumbnailStep .rotate-control {
  position: absolute;
  bottom: 40px;
  left: 7px;
}

.EditThumbnailStep .dcl.sliderfield-wrapper .dcl.sliderfield-track,
.EditThumbnailStep .dcl.sliderfield-wrapper .dcl.sliderfield-mark {
  background-color: #736e7d;
}

.EditThumbnailStep input[type='range'] {
  background: none;
}

.EditThumbnailStep .play-controls input[type='range'] {
  width: 100%;
}

.EditThumbnailStep input[type='range'] {
  -webkit-appearance: none;
}

.EditThumbnailStep input[type='range']:focus {
  outline: none;
}

.EditThumbnailStep .play-controls input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: #736e7d;
  overflow: visible;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: -4px;
}

.EditThumbnailStep input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 8px;
  border-radius: 10px;
  background: #736e7d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  overflow: visible;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: -3px;
}

.EditThumbnailStep input[type='range']::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: #736e7d;
  overflow: visible;
  cursor: pointer;
}

.EditThumbnailStep input[type='range']::-ms-thumb {
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: #736e7d;
  overflow: visible;
  cursor: pointer;
}

.EditThumbnailStep .play-controls input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 15px;
  background: rgba(115, 110, 125, 0.32);
  border: none;
  border-radius: 10px;
}

.EditThumbnailStep input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #000000;
  border: none;
  border-radius: 10px;
}

.EditThumbnailStep input[type='range']::-moz-range-track {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(115, 110, 125, 0.32);
}

.EditThumbnailStep .WearablePreview {
  background: #43404a;
  height: 364px;
  border-radius: 8px;
}

.EditThumbnailStep .y-slider-container {
  position: absolute;
  transform: rotate(-90deg);
  right: -105px;
  top: 181px;
  width: 280px;
  display: flex;
  flex-direction: row-reverse;
}

.EditThumbnailStep .y-slider {
  width: 229px;
}

.EditThumbnailStep .y-slider-container i.icon {
  margin-top: -6px;
  margin-left: 12px;
}

.EditThumbnailStep .EmoteControls {
  padding: 0;
  bottom: 0;
}
