.EditorButton {
  width: 40px;
  height: 24px;
  font-size: 0.5em;
  border-radius: 4px;
  background: rgba(var(--purplish-grey-raw), 0.64);
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.EditorButton:hover {
  background: var(--purplish-grey);
}

.EditorButton.active {
  background: rgba(var(--purplish-grey-raw), 0.32);
}

.EditorButton .centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
