.details {
  margin-bottom: 24px;
  position: relative;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  gap: 16px;
  color: white;
  font-size: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.subtitle {
  font-size: 14px;
  color: var(--clear-divider);
  margin-bottom: 8px;
  display: block;
  line-height: 1.5;
}

.learnMore {
  font-size: 13px;
  margin-bottom: 16px;
  display: block;
}

.learnMore a {
  color: var(--clear-divider);
  text-decoration: underline;
}

.itemCell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.itemImage {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.multipleItemImages {
  position: relative;
  width: 48px;
  height: 48px;
}

.multipleItemImages .itemImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.multipleItemImages .layerOne {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  z-index: 2;
  opacity: 0.7;
}

.multipleItemImages .layerTwo {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  z-index: 1;
  opacity: 0.5;
}

.totalAmount {
  font-weight: 600;
  min-width: 150px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.originalPrice {
  text-decoration: line-through;
  opacity: 0.5;
}

.originalPrice :global(.dcl.mana.header) {
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
}

.adjustedPrice {
  font-weight: 600;
  color: #a0abff;
}

.adjustedPrice :global(.dcl.mana.header) {
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  color: #a0abff !important;
}

.notPayable {
  color: var(--secondary);
  font-style: italic;
}

.errorContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.error {
  color: var(--primary);
}

.notEnoughManaNotice {
  display: block;
  line-height: 1.5;
}

.actions {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 24px;
  width: 100%;
}

.actions .back {
  width: 180px;
}

.actionsRight {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.actionsRight button {
  width: 216px;
}

.payWithCardInfoTooltip {
  margin-right: 8px;
}

.payByCardButton:global(.ui.button) {
  background-color: #ecebed !important;
  color: #5e5b67;
}

.checkoutButton {
  width: 100%;
}

/* Credits Cell Alignment */
.creditsCell {
  display: table-cell;
  justify-items: end;
}
