.PayPublicationFeeStep .details {
  background-color: rgba(var(--dark-raw), 0.48);
  border-radius: 8px;
  width: 100%;
  padding: 20px 24px 48px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.PayPublicationFeeStep .details .learn-more {
  margin-top: 32px;
}

.PayPublicationFeeStep .details .learn-more > a {
  color: white;
  text-decoration: underline;
  font-weight: 400;
}

.PayPublicationFeeStep .price-breakdown-container {
  margin: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
}

.PayPublicationFeeStep .price-breakdown-container::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-gray);
  opacity: 40%;
}

.PayPublicationFeeStep .price-breakdown-container .element .element-header {
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  color: var(--light-gray);
}

.PayPublicationFeeStep .price-breakdown-container .element .element-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-weight: 400;
}

.PayPublicationFeeStep .price-breakdown-container .element .element-content.total-amount {
  font-weight: 500;
}

.PayPublicationFeeStep .price-breakdown-container .element .element-content.total-amount .dcl.mana {
  margin-top: 0;
  font-size: 15px;
  line-height: 24px;
}

.PayPublicationFeeStep .actions {
  margin-top: 24px;
  width: 100%;
}

.PayPublicationFeeStep .actions .button {
  max-width: 220px;
}

.PayPublicationFeeStep .actions .button > .ui.dcl.mana {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.PayPublicationFeeStep .actions .button.loading > .ui.dcl.mana {
  visibility: hidden;
}

.PayPublicationFeeStep .error {
  flex: 1 1 0;
}

.PayPublicationFeeStep .rarities-error {
  color: var(--error);
}

.PayPublicationFeeStep .not-enough-mana-notice .dcl.mana .symbol {
  padding-right: 0;
}
