.ContestButton.ui.button.mini {
  font-size: 11px;
  line-height: 16px;
  padding: 5px 12px;
  border-radius: 4px;
}

.ContestButton.ui.button.mini,
.ContestButton.ui.button.mini:active,
.ContestButton.ui.button.mini:focus,
.ContestButton.ui.button.mini:hover {
  transform: translateY(0px);
}
