.ContestButton.ui.button.mini {
  font-size: 11px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 4px;
}

.ContestButton.ui.button.mini,
.ContestButton.ui.button.mini:active,
.ContestButton.ui.button.mini:focus,
.ContestButton.ui.button.mini:hover {
  background-color: var(--primary);
  transform: translateY(0px);
}

.ContestButton.ui.button.mini:hover {
  background-color: var(--bluish-steel);
  opacity: 0.9;
}
