.ui.small.modal.DeployModal {
  width: auto;
  border-radius: 12px;
}

.DeployModal .progress-bar-container {
  width: 100%;
  background: var(--secondary-on-modal);
  border-radius: 16px;
}

.DeployModal .progress-bar {
  background: var(--primary);
  height: 16px;
  border-radius: 16px;
  position: relative;
}

.DeployModal .progress-bar.active:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 16px;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

.DeployModal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  margin-bottom: 0px;
  width: 100%;
  flex-direction: row-reverse;
}

.DeployModal .modal-header .ui.header.modal-title {
  margin-bottom: 0px;
}

.DeployModal .ui.header.modal-title {
  font-size: 21px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 0px;
}

.DeployModal .modal-subtitle {
  font-size: 17px;
  font-weight: 100;
  text-align: center;
  padding: 0px 40px;
}

.DeployModal .ui.button {
  height: 36px;
  font-weight: 400;
}

.DeployModal .error {
  visibility: hidden;
  user-select: none;
  color: var(--primary);
  margin-top: 20px;
}

.DeployModal .error.visible {
  visibility: visible;
}
