.ui.small.modal.DeployModal {
  width: auto;
  border-radius: 12px;
}

.DeployModal .progress-bar-container {
  width: 100%;
  background: var(--secondary-on-modal);
  border-radius: 16px;
}

.DeployModal .progress-bar {
  background: var(--primary);
  height: 16px;
  border-radius: 16px;
  position: relative;
}

.DeployModal .progress-bar.active:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 16px;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

.DeployModal .choice-form {
  width: 560px;
  margin: 0px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DeployModal .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  margin-bottom: 0px;
  width: 100%;
  flex-direction: row-reverse;
}

.DeployModal .modal-header .ui.header.modal-title {
  margin-bottom: 0px;
}

.DeployModal .ui.header.modal-title {
  font-size: 21px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 0px;
}

.DeployModal .modal-subtitle {
  font-size: 17px;
  font-weight: 100;
  text-align: center;
  padding: 0px 40px;
}

.DeployModal .choice-form .options {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  width: 100%;
}

.DeployModal .choice-form .card {
  background: rgba(var(--purplish-grey-raw), 0.32);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 12px);
  overflow: hidden;
  overflow-wrap: break-word;
}

.DeployModal .choice-form .card + .card {
  margin-left: 24px;
}

.DeployModal .choice-form .card .title {
  font-size: 17px;
  text-align: center;
  display: block;
  font-weight: 500;
  margin-bottom: 12px;
}

.DeployModal .choice-form .card .description {
  font-size: 15px;
  font-weight: 100;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  flex: 1;
}

.DeployModal .choice-form .card .ui.button {
  width: 100%;
}

.DeployModal .thumbnail {
  height: 162px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 45%;
}

.DeployModal .thumbnail.deploy-to-pool {
  background-image: url('../../../images/deploy-to-pool.svg');
  width: 78px;
}

.DeployModal .thumbnail.deploy-to-land {
  background-image: url('../../../images/deploy-to-land.svg');
  width: 162px;
}

.DeployModal .thumbnail.deploy-to-world {
  background-image: url('../../../images/deploy-to-world.svg');
  width: 162px;
}

.DeployModal .ui.button {
  height: 36px;
  font-weight: 400;
}

.DeployModal .ui.button.hollow {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.DeployModal .error {
  visibility: hidden;
  user-select: none;
  color: var(--primary);
  margin-top: 20px;
}

.DeployModal .error.visible {
  visibility: visible;
}

.DeployModal .ui.button + .ui.button {
  margin-left: 20px;
}

/* Deploy to world styles */
.DeployModal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: 810px;
  gap: 32px;
}

.DeployModal .modal-body .modal-title,
.DeployModal .modal-body .deploy-modal-subtitle {
  margin: 0;
}

.DeployModal .deploy-modal-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
}

.DeployModal .modal-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.DeployModal .deploy-modal-options {
  display: flex;
  gap: 10px;
  width: 100%;
}

.DeployModal .deploy-modal-options .ui.button {
  height: auto;
  width: 100%;
}

.DeployModal .option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #716b7c;
  border-radius: 8px;
  padding: 24px;
  flex: 1;
  background-color: #5e5b67;
}

.DeployModal .option-container .option-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.DeployModal .option-container .thumbnail {
  height: 162px;
}

.DeployModal .option-container .option-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.DeployModal .option-container .option-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.DeployModal .scene-pool-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 16px;
}

.DeployModal .scene-pool-option .thumbnail {
  height: 60px;
}

.DeployModal .scene-pool-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.DeployModal .scene-pool-option .scene-pool-action {
  width: 320px;
  height: 42px;
}

.DeployModal .scene-pool-option .option-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.DeployModal .scene-pool-option .option-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.DeployModal .learn-more-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
  margin-top: 8px;
  color: white;
}

.DeployModal .modal-body .ui.header.modal-title {
  margin: 0px;
  line-height: 36px;
  font-size: 30px;
}

.DeployModal .modal-body .modal-subtitle {
  margin: 0;
  line-height: 18px;
}
