.JumpIn {
  display: inline-block;
  background-color: var(--primary);
  background-image: url(../../images/jump-in.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 8px;
  cursor: pointer;
  border: none;
}

.JumpIn.active {
  background-image: url(../../icons/right-round-arrow.svg);
  background-color: transparent;
}

.JumpIn.small {
  background-size: 14px;
  width: 22px;
  height: 22px;
}

.JumpIn.small.active {
  background-size: 16px;
}

.JumpIn.medium {
  background-size: 20px;
  width: 32px;
  height: 32px;
}

.JumpIn.medium.active {
  background-size: 24px;
}

.JumpIn.large {
  background-size: 25px;
  width: 42px;
  height: 42px;
}

.JumpIn.large.active {
  background-size: 36px;
}

.JumpInContainer.ui.button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.JumpInContainer .text {
  color: var(--primary);
}
