:root {
  /* Colors */
  --primary: #ff2d55;
  --background: #27252e;
  --purplish-grey: #676370;
  --purplish-grey-raw: 103, 99, 112;

  --dark: #16141a;

  /**
  * Component variables
  */

  /* TopBar */
  --topbar-height: 48px;

  /* SideBar */
  --sidebar-width: 370px;
  --sidebar-heading: rgba(255, 255, 255, 0.9);
}

.ui.header.medium {
  font-size: 17px;
}

/* Reset grid */

.ui.grid {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.ui.grid + .grid {
  margin-top: 0px;
}

.ui.grid > .row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ui.grid > .column {
  padding-top: 0px;
  padding-bottom: 0px;
}
