:root {
  /* Colors */
  --purplish-grey: #676370;
  --purplish-grey-raw: 103, 99, 112;

  --error: var(--neon-red);
  --error-raw: 255, 0, 68;

  --dark: #16141a;

  --dark-two: #242129;

  --contest-primary: #691fa9;

  /**
  * Component variables
  */

  /* HomePage */
  --homepage-card-width: 246px;
  --homepage-card-height: 182px;
  --homepage-card-margin: 20px;

  /* TopBar */
  --topbar-height: 48px;

  /* SideBar */
  --sidebar-width: 370px;
  --sidebar-heading: rgba(255, 255, 255, 0.9);

  /* Preview */
  --preview-background: #38333f;
  --preview-z-index: 2000;

  /* Modal */
  --modal-border-radius: 16px;
  --modal-title-font-size: 28px;
}
