:root {
  /* Colors */
  --contest-pink: #ff80ff;

  /**
  * Component variables
  */

  /* HomePage */
  --homepage-card-width: 246px;
  --homepage-card-height: 182px;
  --homepage-card-margin: 20px;

  /* TopBar */
  --topbar-height: 48px;

  /* Editor page Banner */
  --incentive-banner-height: 40px;

  /* SideBar */
  --sidebar-width: 370px;
  --sidebar-heading: rgba(255, 255, 255, 0.9);

  /* Preview */
  --preview-background: #38333f;
  --preview-z-index: 1100;
}
