.AssetCard.horizontal {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  background: rgba(var(--purplish-grey-raw), 0.48);
  cursor: grab;
}

.AssetCard.horizontal:hover {
  background: rgba(var(--purplish-grey-raw), 0.72);
}

.AssetCard.horizontal .thumbnail {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.AssetCard.horizontal div.title {
  margin-top: 0px;
  color: var(--sidebar-heading);
}
