.AddToContestModal .subtitle {
  font-size: 17px;
}

.AddToContestModal .category {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.AddToContestModal .terms {
  display: flex;
  align-items: center;
}

.AddToContestModal .terms .ui.radio.checkbox {
  height: 27px;
}

.AddToContestModal .terms .ui.checkbox label {
  margin-right: 0px;
}

.AddToContestModal .terms,
.AddToContestModal .terms a {
  font-size: 17px;
}

.AddToContestModal .details {
  margin-top: 30px;
}

.AddToContestModal .actions .ui.loader {
  position: relative;
  top: 24px;
}

.AddToContestModal .error {
  margin-top: 24px;
  color: var(--error);
}
