.AddToContestModal .title {
  font-size: var(--modal-title-font-size);
  margin-bottom: 20px;
}

.AddToContestModal .subtitle {
  font-size: 17px;
}

.AddToContestModal .category {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.AddToContestModal .details,
.AddToContestModal .buttons-container,
.AddToContestModal .loading-container {
  margin-top: 30px;
}

.AddToContestModal .loading-container {
  margin-top: 25px;
}

.AddToContestModal .loading-container,
.AddToContestModal .loading-container .ui.loader {
  position: relative;
}

.AddToContestModal .loading-container .ui.loader {
  top: 24px;
}

.AddToContestModal .error {
  color: var(--error);
}
