.CongratulationsStep .details {
  background-color: rgba(var(--dark-raw), 0.48);
  border-radius: 8px;
  width: 100%;
  padding: 20px 24px 38px;
}

.CongratulationsStep .collection-image {
  align-self: center;
  height: 165px;
  width: 165px;
  margin-top: 18px;
  margin-bottom: 38px;
  border-radius: 6px;
  overflow: hidden;
}

.CongratulationsStep .texts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  margin: auto;
  text-align: justify;
}

.CongratulationsStep .details a.forum-post {
  color: var(--white);
  text-decoration: underline;
  font-weight: 600;
}

.CongratulationsStep .details .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.CongratulationsStep .details .subtitle {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clear-divider);
}

.CongratulationsStep .details .description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--clear-divider);
}

.CongratulationsStep .details .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--primary);
  transform: translateY(10px) translateX(-17px);
}

.CongratulationsStep .actions {
  margin-top: 24px;
  width: 100%;
}

.CongratulationsStep .actions .button {
  max-width: 220px;
}
