:root {
  --top-panel-height: 56px;
}

.TopPanel {
  display: flex;
  align-items: center;
  height: var(--top-panel-height);
  position: relative;
}

.TopPanel .back {
  width: 52px;
  height: 52px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../../../images/back-item-editor.svg);
  background-size: 8px;
}

.TopPanel .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 auto;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.TopPanel .actions {
  width: var(--item-editor-panel-width);
  text-align: right;
}

.TopPanel .actions .button-container {
  display: inline-block;
}

.TopPanel .actions .ui.button {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
}
