.zipInfo {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 32px;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.infoIcon {
  margin-right: 9px;
}

.dropzone {
  height: 500px !important;
}

:global(.FileImport) .dropzone.itemLoaded :global(.image) {
  background: url('../../images/import-success.svg') no-repeat;
}

:global(.FileImport) .dropzone.isLoading :global(.image) {
  background: none;
}

:global(.FileImport) .dropzone :global(.ui.loader) {
  transform: translateX(-50%) translateY(-119%);
}
