.AssetPackList .promo {
  background-color: var(--promo-banner-bg);
  color: var(--promo-banner-text);
  width: calc(var(--sidebar-width) - 32px);
  height: 80px;
  font-size: 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 0;
  cursor: pointer;
  line-height: 20px;
  user-select: none;
}

.AssetPackList .promo .highlight {
  color: white;
  text-decoration: underline;
}

.AssetPackList .promo .icon {
  background-image: url('../../../images/promo-assets.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 128px;
  height: 100px;
  margin-right: 10px;
  background-position: center;
  flex: none;
}
