.ItemDrawer {
  height: 100%;
}

.ItemDrawer .title {
  color: var(--sidebar-heading);
  font-size: 17px;
  user-select: none;
}

.ItemDrawer .ui.grid.asset-grid .column {
  padding: 4px;
}

.ItemDrawer .ui.grid.asset-grid.item-grid .column {
  width: 112px;
}

.ItemDrawer .ui.grid.asset-grid.item-list .column {
  padding-left: 0px;
  padding-right: 0px;
}

.ItemDrawer .ui.grid.asset-grid.item-grid .row .column:first-child {
  padding-left: 0px;
}

.ItemDrawer .ui.grid.asset-grid.item-grid .row .column:nth-child(3) {
  padding-right: 0px;
}

.ItemDrawer .item-drawer-type-buttons .Chip:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ItemDrawer .item-drawer-type-buttons .Chip:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ItemDrawer .item-drawer-type-buttons {
  float: right;
}

.ItemDrawer .item-drawer-type-buttons .Chip {
  float: left;
}

.ItemDrawer .overflow-container {
  height: calc(100% - 96px);
  overflow-y: auto;
}

.ItemDrawer .search-container {
  position: relative;
}

.ItemDrawer .ui.medium.header.title,
.ItemDrawer .search-container {
  padding-right: 16px;
}

.ItemDrawer .ui.search-input {
  width: 100%;
  margin-bottom: 12px;
}

.ItemDrawer .ui.search-input input,
.ItemDrawer .ui.search-input input:focus {
  outline: none;
  background: rgba(var(--bluish-steel-raw), 0.2);
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  color: var(--text);
  padding-left: 32px;
}

.ItemDrawer .ui.icon.input > i.icon.close {
  cursor: pointer;
  pointer-events: inherit;
}

.ItemDrawer .search.icon {
  color: var(--bluish-steel);
  position: absolute;
  left: 8px;
  top: 8px;
}

.ItemDrawer .no-results {
  width: 100%;
  text-align: center;
  padding: 16px;
  color: var(--bluish-steel);
}

.ItemDrawer img.thumbnail:after {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(var(--bluish-steel-raw), 0.28);
  border-radius: 100%;
  content: '';
}

.ItemDrawer .selected-category {
  position: relative;
  display: block;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.ItemDrawer .selected-category .icon {
  position: absolute;
  left: 0px;
}
