.ItemDrawer {
  height: 100%;
  width: 100%;
}

.ItemDrawer .overflow-container {
  height: calc(100% - 96px);
  overflow-y: auto;
  overflow-y: overlay;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.ItemDrawer .disclaimer {
  color: rgba(var(--bluish-steel-raw), 0.64);
  text-align: center;
  width: calc(var(--sidebar-width) - 32px);
  display: block;
  margin-top: 10px;
}
