.ItemDragLayer,
.toolbar > div.ItemDragLayer {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2000;
}

.ItemDragLayer .thumbnail {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -32px;
  left: -32px;
}
