.Tags {
  height: 38px;
  border: 1px solid rgba(115, 110, 125, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  margin-bottom: 8px;
}

.Tags .label {
  flex: none;
  margin-right: 20px;
  color: var(--secondary-text);
}

.Tags .values {
  flex: none;
  display: flex;
  overflow: auto;
  margin-right: 4px;
  max-width: 100%;
}

.Tags .values .placeholder {
  color: var(--secondary-text);
}

.Tags .values .value {
  background-color: #37333d;
  padding: 2px 8px;
  border-radius: 4px;
  flex: none;
  display: flex;
  align-items: center;
}

.Tags .values .value .remove {
  flex: none;
  width: 12px;
  height: 12px;
  background-image: url(../../../../icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 8px;
  margin-left: 4px;
  cursor: pointer;
}

.Tags .values .value + .value {
  margin-left: 4px;
}

.Tags.blank .values {
  margin-right: 0px;
}

.Tags input {
  flex: 1 1 auto;
  color: var(--text);
  background: none;
  border: none;
  outline: none;
  min-width: 20px;
}
