.ui.checkbox label:before,
.ui.checkbox label:active::before {
  background-color: var(--background);
  border-color: var(--secondary-text);
}

.ui.checkbox input:checked ~ label:before,
.ui.checkbox input:checked ~ label:active:before,
.ui.checkbox label:hover::before {
  background-color: var(--primary);
  border-color: var(--primary);
}

.ui.checkbox.checked input.hidden + label:after {
  content: '';
  top: 4px;
  left: 3px;
  width: 10px;
  height: 10px;
}
