.ui.modal {
  border-radius: var(--modal-border-radius);
}

.ui.modal > .content,
.ui.modal > .actions {
  background: var(--dark-two);
}

.ui.modal > :last-child.content,
.ui.modal > .actions {
  border-bottom-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
}

.ui.modal > .header ~ .content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui.modal .header,
.ui.modal > :first-child:not(.icon) {
  border-top-left-radius: var(--modal-border-radius);
  border-top-right-radius: var(--modal-border-radius);
}

.ui.modal .header:last-child {
  border-bottom-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
}

.ui.modal .ui.form .field .ui.input input {
  border-bottom-color: rgba(var(--purplish-grey-raw), 0.2);
}
