.ui.modal {
  border-radius: 16px;
}

.ui.modal > .content {
  background: var(--dark-two);
  border-radius: 16px;
}
.ui.modal > .header ~ .content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ui.modal .header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.ui.modal .header:last-child {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
