.ClearDeployment {
  margin: 64px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 560px;
}

.ClearDeployment .ui.button.connect {
  margin-top: 24px;
}

.ClearDeployment .error {
  visibility: hidden;
  user-select: none;
  color: var(--primary);
  margin-top: 20px;
}

.ClearDeployment .error.visible {
  visibility: visible;
}

.ClearDeployment.progress {
  width: 480px;
  margin: 48px;
}

.ClearDeployment.progress .progress-bar-container {
  margin-top: 32px;
}

.ClearDeployment.confirmation {
  width: 560px;
  margin: 48px;
}
