.DeploymentDetail {
  border-bottom: 1px solid var(--divider);
  display: flex;
  align-items: center;
  padding: 24px;
  margin-bottom: 8px;
  background-color: var(--dark-two);
  border-radius: 10px;
  gap: 45px;
}

.DeploymentDetail:first-child {
  border-top: 1px solid var(--divider);
}

.DeploymentDetail:last-child {
  grid-column-end: -1;
}

.DeploymentDetail.clickable:hover {
  background-color: rgba(36, 33, 41, 0.4);
  cursor: pointer;
}

.DeploymentDetail .atlas-wrapper {
  width: 95px;
  height: 95px;
  background-color: var(--card);
  border-radius: 8px;
}

.DeploymentDetail .atlas-wrapper canvas {
  border-radius: 8px;
}

.DeploymentDetail .thumbnail-wrapper {
  background-color: var(--card);
  border-radius: 8px;
}

.DeploymentDetail .thumbnail-wrapper .thumbnail {
  width: 95px;
  height: 95px;
  border-radius: 8px;
}

.DeploymentDetail .title {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.DeploymentDetail .stat {
  display: flex;
  flex-direction: column;
  min-width: 128px;
  margin-right: 32px;
}

.DeploymentDetail .status {
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 6px;
}

.DeploymentDetail .status.online {
  background-color: #3fff47;
}

.DeploymentDetail .status.needs-sync {
  background-color: orange;
}

.DeploymentDetail .ui.dropdown {
  position: absolute;
  right: 0px;
}

.DeploymentDetail .Stats .value .world-url {
  display: flex;
  flex-direction: row;
}

.DeploymentDetail .Stats .value .world-url .icon.link,
.DeploymentDetail .Stats .value .world-url a {
  color: var(--text);
}

.DeploymentDetail .Stats .value .world-url .icon.link {
  margin-left: 5px;
}
