.ui.grid.SDK6TopBar {
  height: var(--topbar-height);
  background: var(--void);
}

.ui.grid.SDK6TopBar > .column:not(.row) {
  padding: 12px;
}

.SDK6TopBar .ui.header.medium {
  font-size: 17px;
}

.SDK6TopBar .row {
  display: flex;
}

.SDK6TopBar .middle-column .row {
  justify-content: center;
}

.SDK6TopBar .right-column .row {
  justify-content: flex-end;
  align-items: center;
}

.SDK6TopBar .right-column .DeploymentStatus {
  margin-right: 14px;
}

.SDK6TopBar .middle-column .editor-actions {
  display: flex;
}

.SDK6TopBar .middle-column .editor-modes {
  display: flex;
  margin-right: 32px;
}

.SDK6TopBar .tool + .tool {
  margin-left: 8px;
}

.SDK6TopBar .contest-button-wrapper {
  display: flex;
  margin-left: 24px;
}

.SDK6TopBar .project-title-header {
  display: flex;
  align-items: center;
}

.SDK6TopBar .project-title-header .go-back:hover {
  cursor: pointer;
  color: var(--primary);
}

.SDK6TopBar .project-title {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.SDK6TopBar .project-title.disabled {
  opacity: 0.4;
  cursor: default;
}

.SDK6TopBar .edit-project-icon {
  margin-left: 12px;
}

.SDK6TopBar .cloud-upload-indicator {
  margin-left: 6px;
  margin-top: 6px;
  cursor: default;
}

.SDK6TopBar .project-title:hover .edit-project-icon {
  opacity: 1;
  filter: none;
}

.SDK6TopBar .edit-project-icon:not(:hover) {
  margin-left: 12px;
  filter: saturate(0.1);
  opacity: 0.32;
}

.ui.popup.bottom.top-bar-popup {
  margin-top: 20px;
}

.SDK6TopBar .DeployButton {
  height: 100%;
}
