.notEnoughMana {
  padding: 10px;
  text-align: center;
  background-color: var(--background);
  margin-top: 20px;
  border-radius: 10px;
}

.notEnoughMana .dcl.mana .symbol {
  padding: 0px;
}

.slotValue {
  color: var(--light-gray);
  font-size: 13px;
}

.modalActions {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.slotsPriceContainer {
  position: relative;
  min-height: 70px;
}

.slotsPriceContainer .slotsTotalPrice {
  position: absolute;
  top: 26px;
  right: 0;
}

.slotsPriceContainer .dcl.mana.inline {
  margin-right: 3px;
}

.cancelButton {
  margin-top: 8px !important;
}

.header {
  text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 56px !important;
}

.loader {
  display: flex;
  justify-content: center;
  height: 50px;
}

.manaLogo :global(.symbol) {
  padding: 0px !important;
}

.manaLogo :global(.symbol .matic) {
  background-repeat: no-repeat;
}
