.avatar {
  display: flex;
  align-items: center;
  width: 100%;
}

.avatar .avatarface {
  margin-right: 12px;
}

.avatar .loadingtext {
  margin-bottom: 0;
}

.avatar .paragraph {
  color: #a09ba8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.avatar .paragraph .span {
  color: #fcfcfc;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 8px;
}
