* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text);
}

#root {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
