.VerticalCard {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-direction: column;
  background: rgba(var(--purplish-grey-raw), 0.48);
  padding: 16px 10px;
  cursor: pointer;
}

.VerticalCard:hover {
  background: rgba(var(--purplish-grey-raw), 0.64);
}

.VerticalCard .thumbnail {
  width: 63px;
  height: 62px;
  margin-bottom: 20px;
}

.VerticalCard .ui.header.title {
  margin-top: 0px;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 100;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: var(--sidebar-heading);
}
