.AssetCard.vertical {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex-direction: column;
  background: rgba(var(--purplish-grey-raw), 0.48);
  padding: 16px 10px;
  cursor: grab;
  height: 105px;
}

.AssetCard.vertical:hover {
  background: rgba(var(--purplish-grey-raw), 0.64);
}

.AssetCard.vertical .thumbnail {
  width: 63px;
  height: 62px;
}
