.worldUrl {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.rightContainer .copyUrn {
  color: var(--text);
}
