.Metrics {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: var(--prewiew-z-index);
}

.Metrics .button {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.Metrics .metric {
  display: flex;
}

.Metrics .metric .label {
  margin-right: 8px;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 24px;
}

.Metrics .metric .value {
  font-size: 15px;
  line-height: 24px;
}
.Metrics .metric .value-limit {
  color: var(--purplish-grey);
}

.Metrics .bubble {
  position: absolute;
  background-color: var(--dark);
  padding: 12px;
  border-radius: 6px;
  bottom: 36px;
  color: white;
  width: 260px;
  left: -5px;
}

.Metrics .metric.error .label,
.Metrics .metric.error .value {
  color: var(--neon-red);
}

.Metrics .bubble:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 10px;
  border-top: 8px solid black;
  border-top-color: inherit;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  color: var(--dark);
}

.Metrics .exceeded-metric {
  position: absolute;
  left: 32px;
  top: 3px;
  width: 200px;
  text-transform: uppercase;
  color: var(--neon-red);
  font-size: 12px;
  cursor: pointer;
}
