.EditorPage {
  height: 100%;
}

.EditorPage .wrapper {
  height: 100%;
}

.toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.toolbar.open {
  width: calc(100% - var(--sidebar-width));
}

.toolbar > div {
  position: absolute;
  bottom: 14px;
  z-index: var(--preview-z-index);
  display: flex;
  align-items: center;
}

.toolbar > .Metrics {
  left: 20px;
}

.toolbar .Tools {
  right: 20px;
}

.toolbar .Tools .tool {
  margin-right: 16px;
}

.toolbar .Tools .tool:last-child {
  margin-right: 0px;
}

.toolbar .Tools .Icon.shortcuts {
  margin-left: 24px;
  margin-right: 0;
}
