.EditorPage {
  height: 100%;
}

.EditorPage .wrapper {
  height: calc(100vh - var(--topbar-height));
}

.EditorPage .wrapper.with-banner {
  height: calc(100vh - var(--topbar-height) - 40px);
}

.EditorPage .incentive-banner {
  height: 40px;
  display: flex;
  align-items: center;

  font-size: 15px;
  width: 100%;
  background: #691ea9;
  color: white;
}

.EditorPage .incentive-banner > span {
  display: flex;
  justify-content: center;
  flex: 1;
}

.EditorPage .incentive-banner .Icon {
  justify-self: flex-end;
  margin-right: 16px;
  transform: scale(1.4);
}

.toolbar {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.toolbar.open {
  width: calc(100% - var(--sidebar-width));
}

.toolbar > div {
  position: absolute;
  bottom: 14px;
  z-index: var(--preview-z-index);
  display: flex;
  align-items: center;
}

.toolbar > .Metrics {
  left: 20px;
}

.toolbar .Tools {
  right: 20px;
}

.toolbar .Tools .tool {
  margin-right: 16px;
}

.toolbar .Tools .tool:last-child {
  margin-right: 0;
  margin-left: 24px;
}

.toolbar .Tools .tool .shortcuts {
  bottom: 3px;
  position: relative;
}

.ui.visible.popup.inverted.shortcut-popup:before {
  right: 0.4em; /* The arrow needs to be on top of the icon */
}
