.ErrorMetrics {
  width: 100%;
}

.ErrorMetrics .errorContainer {
  display: flex;
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(115, 110, 125, 0.16);
  text-align: justify;
}

.ErrorMetrics .errorContainer:not(:last-child) {
  margin-bottom: 12px;
}

.ErrorMetrics .errorContainer > .errorIcon {
  margin-right: 12px;
  margin-top: 4px;
  height: 20px;
  width: 20px;
  background: url('../../../../icons/alert.svg') no-repeat;
  background-size: contain;
  filter: invert(64%) sepia(34%) saturate(797%) hue-rotate(331deg) brightness(160%) contrast(98%); /* #fc9965 */
}

.ErrorMetrics .errorContainer > .errorMessage {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
