.HomePageBanner {
  padding: 36px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  position: relative;
}

.HomePageBanner .wrapper {
  display: flex;
  align-items: center;
  z-index: 999;
}

.HomePageBanner .logo-left {
  background: url('../../../images/dapper-logo.png') no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.HomePageBanner .logo-right {
  background: url('https://www.cryptokitties.co/icons/logo.svg') no-repeat;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.HomePageBanner .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.HomePageBanner .bg {
  background-image: url('../../../images/purple_banner_bg.png');
  background-size: cover;
}

.HomePageBanner .text {
  display: block;
  line-height: 28px;
  z-index: 999;
  margin: 0px 64px;
}
.HomePageBanner .text a {
  color: white;
  text-decoration: underline;
}

.HomePageBanner .dcl.close {
  transform: scale(2);
}
