.HomePageBanner {
  padding: 64px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  position: relative;
}

.HomePageBanner .orange,
.HomePageBanner .purple {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.HomePageBanner .orange {
  background-image: url('../../../images/orange.svg');
}

.HomePageBanner .purple {
  background-image: url('../../../images/purple.svg');
}

.HomePageBanner .text {
  display: block;
  line-height: 28px;
  z-index: 999;
}
.HomePageBanner .text a {
  color: white;
  text-decoration: underline;
}

.HomePageBanner .dcl.close {
  transform: scale(2);
}
