name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 24.x
      - name: Install
        run: npm i
      - name: Test
        run: npm run test:coverage
        if: ${{ always() }}
      - name: report coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
